
<!-- Begin ReCharge code -->
<p id="rc_link_container">
    <a href="/tools/recurring/login">Manage Subscriptions</a>
</p>
<!-- End ReCharge code -->
<style>
  .thead-light.thead-lighth21 th {
    background-color: white;
    border-color: white;
    padding-bottom : 0px;
  }
  .responsive-table-row td a.theme-link-color:hover {
    color: black;
    text-decoration:none;
  }
  .responsive-table-row td a.theme-link-color {
    color: black;
  }
  .responsive-table-row.newrowaccountpage {
    font-family: 'Butler';
  }
  h1.customerfirstnamegra {
    font-size: 45px;
    font-family: 'Butler';
    margin-bottom:15px;
  }
  p.welcomebackptatext {
    font-family: 'Apercu';
    font-size: 16px;  
  }
  .orderproductsammount.mt-6 p {
    font-family: 'Butler';
    font-size: 16px; 
    margin-bottom:12px;
    padding-left:12px;
  }
  .descriptioncustomerwelcome {
    font-family: 'Apercu';
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 25px;
  }
  .newnaclgoutbutton.nav-link.theme-link-color {
    padding:0px;
  }
  .oderdetailstagnew p {
    font-family: 'Apercu';
    font-size: 16px;
    margin-bottom:0px;
    text-align:center;
    padding:10px 0;
    border-top:1px solid #ccc;
    transition:all 0.3s;
  }
  .oderdetailstagnew p:hover {
    background-color: black;
    color: white;
  }
  .oderdetailstagnew a:hover,.oderdetailstagnew a {
    color:black;
    text-decoration:none;
  }
  .table-responsive-collapse-lg.boderhighfirstpix {
    border: 1px solid;
    width: 94%;
    margin: auto;
    margin-right: 0px;
    MARGIN-BOTTOM: 45px;
  }
  .displayalignitemcenterccpa {
    align-items: center;
    height: 100%;
  }
  .table-responsive-collapse-lg.boderhighfirstpix {
    border : 1px solid #ccc; 
  }
  .incudenacacc21 {
    border:1px solid #ccc;
    padding:0px;
    border-right:0px;
    border-top:0px;
    border-bottom:0px;
  }
  hr.sepratohracpage33 {
    margin:0px;
  }
  .border0fortopleftac {
    border-left: 0px !important;
    border-top: 0px !important;
    border-radius: 0px !important;
    padding: 35px 0px 35px 45px;
  }
  .displayalignitemcentevrea {
    margin-top: 25px;
  }
  .table-responsive-collapse-lg.boderhighfirstpix {
    margin-top: 45px !important;
  }
  .odersnavcustomacclangua {
    position: relative;
    bottom: -1px;
  }
  @media screen and (max-width:600px) {
    .table-responsive-collapse-lg.boderhighfirstpix {
      margin-right: 12px;
    }
  }
  .sepratohracpage33.seprat34accpageliner {
    width:45.3%;
    margin:auto;
    margin-right:0px;
  }
  .nav-link.theme-link-color.addre:hover,.nav-link.theme-link-color.addre {
    border-right:0px;
  }
  .theme-link-color.border0fortopleftac {
    text-transform:uppercase;
  }
  #table-orders-list.tablenww.table,.orderproductsammount{
    width:90%;
    margin:auto;
  }
  @media screen and (max-width:991px) {
    h1.customerfirstnamegra {
      font-size: 40px;
    }
    p.welcomebackptatext {
      font-size: 13px;
    }
    .responsive-table-row.newrowaccountpage td:first-child {
      background: white;
      padding-bottom:0px;
      margin-bottom: 0px;
    }
    .responsive-table-row.newrowaccountpage {
      margin-top: 25px;
    }
    #table-orders-list.tablenww.table.mb-6.mt-1 {
      margin-bottom:25px !important
    }
  }
  .nav.nav-tabs.justify-content-center.nabartab21accbloomc {
    border-bottom : 0px ;
  }
  @media screen and (max-width:767px) {

    .displayalignitemcentevrea {
      text-align: center;
      width: 60%;
      margin: auto;
      margin-top: 25px;
    }
    .border0fortopleftac {
      text-align:center !important;
      padding: 15px 0px 15px 0px;
      border:0px !important;
    }
    .sepratohracpage33.seprat34accpageliner {
      width:100%;
    }
    .incudenacacc21 {
      border:0px !important;
    }

  }
  @media screen and (max-width: 500px) {
    .displayalignitemcentevrea {
      text-align: center;
      width: 90%;
    }
  }
  .orderproductsammount a.theme-link-color {
    color: black;
    font-family: 'Butler';
  }
  .orderproductsammount a.theme-link-color:hover {
    text-decoration:none;
    color: black;
  }
  .orderproductsammount.mt-6 p.linetitlelinkto{
    margin-bottom:6px;
  }
  .bold_font {
    font-family: 'Butler';
  }
  .sepratohracpage33.seprat34accpageliner {
    position: relative;
  }

    .nav-link.active.theme-link-color.border0fortopleftac.acc_add_nav.navigable span {
  	border-bottom: 2px solid;
    width: fit-content;
    padding-bottom: 4px;
  }
    @media screen and (max-width:767px) {
    .sepratohracpage33.new_design_234, .sepratohracpage33.seprat34accpageliner{
      display:none;
    }
  }
  @media screen and (min-width:1800px) {
    .sepratohracpage33.seprat34accpageliner {
      width:46.7% !important;
    }
  }  
  @media screen and (min-width: 2000px) {
      .sepratohracpage33.seprat34accpageliner {
          width: 47.7% !important;
      }  
  }

</style>



<div class="account_page_delrio_section_1 margintop120pxdeskgra">
  <hr class="sepratohracpage33 new_design_234">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 displayalignitemcenterccpa odersnavcustomacclangua"></div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-12 incudenacacc21">
        {% include 'account-nav' with selectedIndex: 0 %}
      </div>
    </div>  
  </div>
  <hr class="sepratohracpage33 seprat34accpageliner">
  <article class="container">

    <!--     <h1 class="text-center mb-3">{{ 'customer.orders.title' | t }}</h1> -->

    {% paginate customer.orders by 10 %}
    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-12 col-12 displayalignitemcenterccpa">
        <div class="displayalignitemcentevrea mb-5">
          <h1 class="customerfirstnamegra">Hi {{customer.first_name}}</h1>
          <p class="welcomebackptatext">
            Welcome back! Here is where you can edit your account details and view your order history.
          </p>
          <a class="newnaclgoutbutton nav-link theme-link-color" href="/account/logout">
            <p class="descriptioncustomerwelcome">
              {{ 'customer.account.nav.logout' | t }}
            </p>
          </a>
        </div>        
      </div>

      <div class="col-lg-8 col-md-8 col-sm-12 col-12 incudenacacc21">

        {% if customer.orders.size == 0 %}
        <p class="alert alert-warning mt-3 bold_font" role="alert">{{ 'customer.orders.none' | t }}</p>
        {% else %}

        {% for order in customer.orders %}

        <div class="table-responsive-collapse-lg boderhighfirstpix">
          <table id="table-orders-list" class="tablenww table mb-6 mt-1">
            <thead class="thead-light thead-lighth21">
              <tr>
                <th>{{ 'customer.orders.order_number' | t }}</th>
                <th>{{ 'customer.orders.date' | t }}</th>
                <!--   <th>{{ 'customer.orders.payment_status' | t }}</th> -->
                <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th>{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="responsive-table-row newrowaccountpage">
                <div class="orderproductsammount mt-6">
                  <p>CONTENTS</p>
                  {% for line_item in order.line_items %}
                  <p class="linetitlelinkto">
                    {{ line_item.title | link_to: line_item.product.url | replace: '<a', '<a class="theme-link-color"' }}
                  </p>
                  {% endfor %}
                </div>
                <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url | replace: '<a', '<a class="theme-link-color"' }}</td>
                <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'abbreviated_date' }}</td>
                <!--   <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td> -->
                <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
              </tr>
            </tbody>
          </table>

          <div class="oderdetailstagnew">
            <a href="{{order.customer_url}}">
              <p> ORDER DETAILS  </p>
            </a>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>  
    {% endif %}
    {% include 'pagination' %}
    {% endpaginate %}
  </article>
</div>



<script>
  $(window).bind("load",function() {  
    $(".nav-link.active.theme-link-color.border0fortopleftac.acc_add_nav").hover(function(){
      $(".sepratohracpage33.seprat34accpageliner").attr("style","width:65%");	
    },function(){
      $(".sepratohracpage33.seprat34accpageliner").attr("style","width:45.3%");	
    }); 
  });
</script>
