<style>
  hr.sepratohracpage33 {
    margin:0px;
  }
  .displayalignitemcenterccpa {
    align-items: center;
    height: 100%;
  }
  .incudenacacc21 {
    border:1px solid #ccc;
    padding:0px;
    border-right:0px;
    border-top:0px;
    border-bottom:0px;
  }
  .border0fortopleftac {
    border-left: 0px !important;
    border-top: 0px !important;
    border-radius: 0px !important;
    padding: 35px 0px 35px 45px;
  }
  .nav-link.theme-link-color.addre:hover,.nav-link.theme-link-color.addre {
    border-right:0px;
  }
  .displayalignitemcentevrea {
    margin-top: 25px;
  }
  h1.customerfirstnamegra {
    font-size: 45px;
    font-family: 'Butler';
    margin-bottom:15px;
  }
  p.welcomebackptatext {
    font-family: 'Apercu';
    font-size: 16px;  
  }
  .newnaclgoutbutton.nav-link.theme-link-color {
    padding:0px;
  }
  .descriptioncustomerwelcome {
    font-family: 'Apercu';
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 25px;
  }
  @media screen and (max-width:991px) {
    h1.customerfirstnamegra {
      font-size: 40px;
    }
    p.welcomebackptatext {
      font-size: 13px;
    }
  }
  @media screen and (max-width:767px) {
    .sepratohracpage33.seprat34accpageliner {
      width:100%;
    }
    .incudenacacc21 {
      border:0px !important;
    }
    .displayalignitemcentevrea {
      text-align: center;
      width: 60%;
      margin: auto;
      margin-top: 25px;
    }
    .border0fortopleftac {
      text-align:center !important;
      padding: 15px 0px 15px 0px;
      border:0px !important;
    }
  }
  @media screen and (max-width:600px) {
    .sepratohracpage33.seprat34accpageliner {
      width:40%;
      margin:auto;
      margin-right:0px;
    }
    .theme-link-color.border0fortopleftac {
      text-transform:uppercase;
    }
    .nav-link.theme-link-color.addre:hover,.nav-link.theme-link-color.addre {
      border-right:0px;
    }
  }
  @media screen and (max-width: 500px) {
    .displayalignitemcentevrea {
      text-align: center;
      width: 90%;
    }
  }
  .sepratohracpage33.seprat34accpageliner {
    width: 40%;
    margin: auto;
    margin-right: 0px;
  }

  /*  above code is compulsory for new design of customer templates  */

  .incudenacacc21 .alert.alert-warning {
    font-family: 'Apercu Pro';
  }
  .nav-link.active.theme-link-color.border0fortopleftac.acc_add_nav {
    border-bottom: 1px solid #dee2e6 !important;
  }
  .nav.nav-tabs.justify-content-center.nabartab21accbloomc,a.nav-link.theme-link-color.border0fortopleftac.addre:hover,.nav.nav-tabs.justify-content-center.nabartab21accbloomc:hover,a.nav-link.theme-link-color.border0fortopleftac.addre{
    border-bottom: 0px !important;
    outline:0px;
  }
  .odersnavcustomacclangua {
    position: unset;
  }
  .bold_font {
    font-family: 'Apercu Pro';
  }
  .uppercase_class {
    text-transform:uppercase;
  }
  .light_font {
    font-family: 'Apercu';
  }
  .row.margin_100percent {
    width: 96%;
    margin: auto;
    margin-right: 0px;
  }
  .show_inside_line {
    width: 2px;
    background-color: black;
  }
  .btn.uppercase_class.bold_font {
    border-bottom: 2px solid;
    border-radius: 0px;
    outline:0px;
  }
  .row.margin_100percent .btn.ad_new_address_design {
    background-color: black;
    color: white;
    font-family: 'Apercu';
    border-radius: 0px;
    text-transform: uppercase;
    padding: 10px 38px;
    margin: 40px 0;
    outline:0px !important;
    margin-left:15px;
  }
  #addressForm.light_font.collapse.show {
    padding-left:15px;
  }
  .button_styling_address_pg {
    background-color: black;
    color: white;  	
    border-radius:0px;
  }
  .btn.button_styling_address_pg:hover {
    color:white;
  }
  #addressForm .card-footer {
    background-color: white;
  }
  @media screen and (max-width:767px) {
    .row.margin_100percent {
      width: 100%;
    }
    #addressForm.light_font.collapse.show {
      padding-right: 15px;
    }
    fieldset.mt-4.light_font {
      padding-left:15px;
      padding-right:15px;
    }
  }
  legend.mb-3 {
    font-family: 'Apercu Pro';
    font-size: 32px;
  }
  .btn:focus {
    outline:0px;
    border:0px;
    box-shadow: 0 0 0 0 rgba(25,118,210,.0);
  }
  fieldset.mt-4.light_font {
    padding-left:15px;
  }
  .nav-link.theme-link-color.border0fortopleftac.addre.navigable span {
    border-bottom: 2px solid;
    width: fit-content;
    padding-bottom: 4px;
  }
  .sepratohracpage33.seprat34accpageliner {
    width: 0%;
  }
  @media screen and (max-width:767px) {
    .nav-link.active.theme-link-color.border0fortopleftac.acc_add_nav {
      border-bottom: 0px solid #dee2e6 !important;
    }
    .sepratohracpage33.new_design_234 {
      display:none;
    }
  }
</style>
{% assign countriesArray = "Afghanistan, Albania, Algeria, Andorra, Angola, Antigua & Deps, Argentina, Armenia, Australia, Austria, Azerbaijan, Bahamas, Bahrain, Bangladesh, Barbados, Belarus, Belgium, Belize, Benin, Bhutan, Bolivia, Bosnia Herzegovina, Botswana, Brazil, Brunei, Bulgaria, Burkina, Burundi, Cambodia, Cameroon, Canada, Cape Verde, Central African Rep, Chad, Chile, China, Colombia, Comoros, Congo, Congo {Democratic Rep}, Costa Rica, Croatia, Cuba, Cyprus, Czech Republic, Denmark, Djibouti, Dominica, Dominican Republic, East Timor, Ecuador, Egypt, El Salvador, Equatorial Guinea, Eritrea, Estonia, Ethiopia, Fiji, Finland, France, Gabon, Gambia, Georgia, Germany, Ghana, Greece, Grenada, Guatemala, Guinea, Guinea-Bissau, Guyana, Haiti, Honduras, Hungary, Iceland, India, Indonesia, Iran, Iraq, Ireland {Republic}, Israel, Italy, Ivory Coast, Jamaica, Japan, Jordan, Kazakhstan, Kenya, Kiribati, Korea North, Korea South, Kosovo, Kuwait, Kyrgyzstan, Laos, Latvia, Lebanon, Lesotho, Liberia, Libya, Liechtenstein, Lithuania, Luxembourg, Macedonia, Madagascar, Malawi, Malaysia, Maldives, Mali, Malta, Marshall Islands, Mauritania, Mauritius, Mexico, Micronesia, Moldova, Monaco, Mongolia, Montenegro, Morocco, Mozambique, Myanmar, {Burma}, Namibia, Nauru, Nepal, Netherlands, New Zealand, Nicaragua, Niger, Nigeria, Norway, Oman, Pakistan, Palau, Panama, Papua New Guinea, Paraguay, Peru, Philippines, Poland, Portugal, Qatar, Romania, Russian Federation, Rwanda, St Kitts & Nevis, St Lucia, Saint Vincent & the Grenadines, Samoa, San Marino, Sao Tome & Principe, Saudi Arabia, Senegal, Serbia, Seychelles, Sierra Leone, Singapore, Slovakia, Slovenia, Solomon Islands, Somalia, South Africa, South Sudan, Spain, Sri Lanka, Sudan, Suriname, Swaziland, Sweden, Switzerland, Syria, Taiwan, Tajikistan, Tanzania, Thailand, Togo, Tonga, Trinidad & Tobago, Tunisia, Turkey, Turkmenistan, Tuvalu, Uganda, Ukraine, United Arab Emirates, United Kingdom, United States, Uruguay, Uzbekistan, Vanuatu, Vatican City, Venezuela, Vietnam, Yemen, Zambia, Zimbabwe"  | split: ', ' %}


<div class="address_page_delrio_section_1 margintop120pxdeskgra">
  <hr class="sepratohracpage33 new_design_234">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 displayalignitemcenterccpa odersnavcustomacclangua"></div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-12 incudenacacc21">
        {% include 'account-nav' with selectedIndex: 0 %}
      </div>
    </div>  
  </div>
  <hr class="sepratohracpage33 seprat34accpageliner">
  <article class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 displayalignitemcenterccpa">
        <div class="displayalignitemcentevrea">
          <h1 class="customerfirstnamegra">Hi {{customer.first_name}}</h1>
          <p class="welcomebackptatext">
            Welcome back! Here is where you can edit your account details and view your order history.
          </p>
          <a class="newnaclgoutbutton nav-link theme-link-color" href="/account/logout">
            <p class="descriptioncustomerwelcome">
              {{ 'customer.account.nav.logout' | t }}
            </p>
          </a>
        </div>        
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-12 incudenacacc21">
        {% comment %}
        <h1 class="text-center mb-3">{{ 'customer.addresses.title' | t }}</h1>
        {% include 'account-nav' with selectedIndex: 1 %}
        {% endcomment %}
        {% if customer.addresses.size == 0 %}
        <p class="alert alert-warning pt-3" role="alert">
          {{ 'customer.addresses.no_addresses' | t }}
        </p>
        {% endif %}
        {% paginate customer.addresses by 5 %}
        <div class="row margin_100percent">
          {% for address in customer.addresses %}
          <div class="col-lg-4 col-md-6 col-sm-6 col-6">
            <div class="mt-7 {% comment %} {% if address == customer.default_address %}bg-light{% endif %} {% endcomment %} ">
              {% if address == customer.default_address %}
              <p class="mb-1 bold_font uppercase_class"><strong>{{ 'customer.addresses.default' | t }}</strong></p>
              {% else %}
              <p class="mb-1 bold_font">ADDRESS</p>
              {% endif %}
              <address class="light_font">{{ address | format_address }}</address>
              <div class="d-flex">
                <button type="button" class="btn uppercase_class bold_font pl-0 p-0 mr-2" type="button" data-toggle="collapse" data-target="#addressEdit-{{ address.id }}" aria-expanded="false" aria-controls="addressEdit-{{ address.id }}">
                  {{ 'customer.addresses.edit' | t }}
                </button>
                <div class="show_inside_line"></div>
                <form method="post" action="/account/addresses/{{ address.id }}" onSubmit="return confirm('{{ 'customer.addresses.delete_confirm' | t }}');">
                  <input type="hidden" name="_method" value="delete"/>
                  <button type="submit" class="btn uppercase_class bold_font p-0 ml-2">{{ 'customer.addresses.delete' | t }}</button>
                </form>
              </div>
            </div>
          </div>
          <div id="addressEdit-{{ address.id }}" class="collapse">
            {% form 'customer_address', address %}
            <fieldset class="mt-4 light_font">
              <legend class="mb-3">{{ 'customer.addresses.edit_address' | t }}</legend>
              <div class="form-row">
                <div class="form-group col-md">
                  <label for="AddressFirstName_{{ form.id }}">
                    {{ 'customer.addresses.first_name' | t }}
                  </label>
                  <input type="text" name="address[first_name]" id="AddressFirstName_{{ form.id }}" class="form-control" value="{{ form.first_name }}" autocapitalize="words">
                </div>
                <div class="form-group col-md">
                  <label for="AddressLastName_{{ form.id }}">
                    {{ 'customer.addresses.last_name' | t }}
                  </label>
                  <input type="text" name="address[last_name]" id="AddressLastName_{{ form.id }}" class="form-control" value="{{ form.last_name }}" autocapitalize="words" />
                </div>
              </div>
              <div class="form-group">
                <label for="AddressCompany_{{ form.id }}">
                  {{ 'customer.addresses.company' | t }}
                </label>
                <input type="text" name="address[company]" id="AddressCompany_{{ form.id }}" class="form-control" value="{{ form.company }}" autocapitalize="words" />
              </div>
              <div class="form-row">
                <div class="form-group col-md">
                  <label for="AddressAddress1_{{ form.id }}">
                    {{ 'customer.addresses.address1' | t }}
                  </label>
                  <input type="text" name="address[address1]" id="AddressAddress1_{{ form.id }}" class="form-control" value="{{ form.address1 }}" autocapitalize="words" />
                </div>
                <div class="form-group col-md">
                  <label for="AddressAddress2_{{ form.id }}">
                    {{ 'customer.addresses.address2' | t }}
                  </label>
                  <input type="text" name="address[address2]" id="AddressAddress2_{{ form.id }}" class="form-control" value="{{ form.address2 }}" autocapitalize="words" />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md">
                  <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                  <select name="address[country]" id="AddressCountry_{{ form.id }}" class="form-control">
                    {% for country in countriesArray %}
                    <option value="{{ country }}" {% if country == form.country %}selected="true"{% endif %}>{{ country }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group col-md">
                  <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                  <input type="text" name="address[province]" id="AddressProvince_{{ form.id }}" class="form-control"  value="{{ form.province }}">
                </div>
                <div class="form-group col-md">
                  <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                  <input type="text" name="address[city]" id="AddressCity_{{ form.id }}" class="form-control" value="{{ form.city }}" >
                </div>
                <div class="form-group col-md">
                  <label for="AddressZip_{{ form.id }}">
                    {{ 'customer.addresses.zip' | t }}
                  </label>
                  <input type="text" name="address[zip]" id="AddressZip_{{ form.id }}"  class="form-control" value="{{ form.zip }}" autocapitalize="characters" />
                </div>
              </div>
              <div class="form-group">
                <label for="AddressPhone_{{ form.id }}">
                  {{ 'customer.addresses.phone' | t }}
                </label>
                <input type="tel" name="address[phone]" id="AddressPhone_{{ form.id }}" class="form-control" value="{{ form.phone }}" pattern="[0-9\-]*" />
              </div>
              <div class="form-group mb-4">
                <div class="custom-control custom-checkbox">
                  {{ form.set_as_default_checkbox }}
                  <label class="custom-control-label" for="address_default_address_{{ form.id }}">{{ 'customer.addresses.set_default' | t }}</label>
                </div>
              </div>
              <div class="">
                <button type="submit" class="btn button_styling_address_pg">{{ 'customer.addresses.update' | t }}</button>
                <button type="button" class="btn button_styling_address_pg" data-toggle="collapse" data-target="#addressEdit-{{ address.id }}" aria-expanded="false" aria-controls="addressEdit-{{ address.id }}">{{ 'customer.addresses.cancel' | t }}</button>
              </div>
            </fieldset>
            {% endform %}
          </div>
          {% endfor %}
        </div>

        <!--    form start here      -->
        <div class="row margin_100percent">
          <button class="btn ad_new_address_design" type="button" data-toggle="collapse" data-target="#addressForm" aria-expanded="false" aria-controls="addressForm">
            {{ 'customer.addresses.add_new' | t }}
          </button>
          <div id="addressForm" class="collapse light_font">
            <div class="card mb-4">
              {% form 'customer_address', customer.new_address %}
              <h2 class="card-header h5 bold_font button_styling_address_pg">{{ 'customer.addresses.add_new' | t }}</h2>
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col-md">
                    <input 
                           type="text" 
                           name="address[first_name]" 
                           id="AddressFirstNameNew" 
                           class="form-control" 
                           autocapitalize="words"
                           placeholder="{{ 'customer.addresses.first_name' | t }}"
                           aria-label="{{ 'customer.addresses.first_name' | t }}"
                           >
                  </div>
                  <div class="form-group col-md">
                    <input 
                           type="text" 
                           name="address[last_name]" 
                           id="AddressLastNameNew" 
                           class="form-control" 
                           autocapitalize="words"
                           placeholder="{{ 'customer.addresses.last_name' | t }}"
                           aria-label="{{ 'customer.addresses.last_name' | t }}"
                           >
                  </div>
                </div>

                <div class="form-group">
                  <input 
                         type="text" 
                         name="address[company]" 
                         id="AddressCompanyNew" 
                         class="form-control" 
                         autocapitalize="words"
                         placeholder="{{ 'customer.addresses.company' | t }}"
                         aria-label="{{ 'customer.addresses.company' | t }}"
                         >
                </div>

                <div class="form-row">
                  <div class="form-group col-md">
                    <input 
                           type="text" 
                           name="address[address1]" 
                           id="AddressAddress1New" 
                           class="form-control" 
                           autocapitalize="words"
                           placeholder="{{ 'customer.addresses.address1' | t }}"
                           aria-label="{{ 'customer.addresses.address1' | t }}"
                           >
                  </div>
                  <div class="form-group col-md">
                    <input 
                           type="text" 
                           name="address[address2]" 
                           id="AddressAddress2New" 
                           class="form-control" 
                           autocapitalize="words"
                           placeholder="{{ 'customer.addresses.address2' | t }}"
                           aria-label="{{ 'customer.addresses.address2' | t }}"
                           >
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md">
                    <select 
                            name="address[country]" 
                            id="AddressCountryNew" 
                            class="custom-select"
                            aria-label="{{ 'customer.addresses.country' | t }}"
                            >
                      <option disabled selected value>{{ 'customer.addresses.country' | t }}</option>
                      {% for country in countriesArray %}
                      <option value="{{ country }}">{{ country }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group col-md">
                    <input 
                           type="text" 
                           name="address[province]" 
                           id="AddressProvinceNew" 
                           class="form-control"
                           placeholder="{{ 'customer.addresses.province' | t }}"
                           aria-label="{{ 'customer.addresses.province' | t }}"
                           >
                  </div>
                  <div class="form-group col-md">
                    <input 
                           type="text" 
                           name="address[city]" 
                           id="AddressCityNew" 
                           class="form-control"
                           placeholder="{{ 'customer.addresses.city' | t }}"
                           aria-label="{{ 'customer.addresses.city' | t }}"
                           >
                  </div>
                  <div class="form-group col-md">
                    <input 
                           type="text" 
                           name="address[zip]" 
                           id="AddressZipNew" 
                           class="form-control" 
                           autocapitalize="characters" 
                           placeholder="{{ 'customer.addresses.zip' | t }}"
                           aria-label="{{ 'customer.addresses.zip' | t }}"
                           />
                  </div>
                </div>

                <div class="form-group">
                  <input 
                         type="tel" 
                         name="address[phone]" 
                         id="AddressPhoneNew" 
                         class="form-control" 
                         pattern="[0-9\-]*"
                         placeholder="{{ 'customer.addresses.phone' | t }}"
                         aria-label="{{ 'customer.addresses.phone' | t }}"
                         />
                </div>
                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    {{ form.set_as_default_checkbox }}
                    <label class="custom-control-label" for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn button_styling_address_pg">{{ 'customer.addresses.add' | t }}</button>
                <button type="button" class="btn button_styling_address_pg" data-toggle="collapse" data-target="#addressForm" aria-expanded="false" aria-controls="addressForm">{{ 'customer.addresses.cancel' | t }}</button>
              </div>
              {% endform %}
            </div>
          </div>
        </div>
        {% include 'pagination' %}
        {% endpaginate %}
      </div>
    </div>
  </article> 
</div>


<script>
  $(window).bind("load",function() { 
    $(".nav-link.theme-link-color.border0fortopleftac.addre").hover(function(){
      $(".sepratohracpage33.seprat34accpageliner").attr("style","width:40%");	
    },function(){
      $(".sepratohracpage33.seprat34accpageliner").attr("style","width:0%");	
    }); 
  });
</script>