<style>
  hr.sepratohracpage33 {
    margin:0px;
  }
  .displayalignitemcenterccpa {
    align-items: center;
    height: 100%;
  }
  .odersnavcustomacclangua {
    position: relative;
    bottom: -1px;
  }
  .incudenacacc21 {
    border:1px solid #ccc;
    padding:0px;
    border-right:0px;
    border-top:0px;
    border-bottom:0px;
  }
  .border0fortopleftac {
    border-left: 0px !important;
    border-top: 0px !important;
    border-radius: 0px !important;
    padding: 35px 0px 35px 45px;
  }
  .nav-link.theme-link-color.addre:hover,.nav-link.theme-link-color.addre {
    border-right:0px;
  }
  .displayalignitemcentevrea {
    margin-top: 25px;
  }
  h1.customerfirstnamegra {
    font-size: 45px;
    font-family: 'Butler';
    margin-bottom:15px;
  }
  p.welcomebackptatext {
    font-family: 'Apercu';
    font-size: 16px;  
  }
  .newnaclgoutbutton.nav-link.theme-link-color {
    padding:0px;
  }
  .descriptioncustomerwelcome {
    font-family: 'Apercu';
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 25px;
  }
  @media screen and (max-width:991px) {
    h1.customerfirstnamegra {
      font-size: 40px;
    }
    p.welcomebackptatext {
      font-size: 13px;
    }
  }
  @media screen and (max-width:767px) {
    .sepratohracpage33.seprat34accpageliner {
      width:100%;
    }
    .incudenacacc21 {
      border:0px !important;
    }
    .displayalignitemcentevrea {
      text-align: center;
      width: 60%;
      margin: auto;
      margin-top: 25px;
    }
    .border0fortopleftac {
      text-align:center !important;
      padding: 15px 0px 15px 0px;
      border:0px !important;
    }
  }
  @media screen and (max-width:600px) {
    .sepratohracpage33.seprat34accpageliner {
      width:40%;
      margin:auto;
      margin-right:0px;
    }
    .theme-link-color.border0fortopleftac {
      text-transform:uppercase;
    }
    .nav-link.theme-link-color.addre:hover,.nav-link.theme-link-color.addre {
      border-right:0px;
    }
  }
  @media screen and (max-width: 500px) {
    .displayalignitemcentevrea {
      text-align: center;
      width: 90%;
    }
  }
  .sepratohracpage33.seprat34accpageliner {
    width: 40%;
    margin: auto;
    margin-right: 0px;
  }
  
  /*  above code is compulsory for new design of customer templates  */
  
  .width_94_new_hau-orders {
    width: 94%;
    margin: auto;
    margin-right: 0px;   
  }
  .nav-link.active.theme-link-color.border0fortopleftac.acc_add_nav {
    border-bottom:1px solid;
    border-color: #dee2e6 #dee2e6;
  }
  .order_details_new_haus h1 {
    font-family: 'Butler';
    font-size: 48px;
    font-weight: 400;
    padding-top: 42px;  
    margin-bottom:0px;
  }
  .order_details_new_haus p {
    font-family: 'Apercu Pro';
    margin: 18px 0;
  }
  .table-responsive-collapse-lg.new_deign_width_set_orders #table-order-details,.table-responsive-collapse-lg.new_deign_width_set_orders .table thead th {
    border:1px solid;
  }
  .table-responsive-collapse-lg.new_deign_width_set_orders .table thead th {
    border-right: 0px solid;
    border-left: 0px;
    text-align: center !important;
    font-family: 'Apercu Pro';
  }
  .responsive-table-row.class_for_table_new_border td {
    border-right: 1px solid;
  }
  .table-responsive-collapse-lg.new_deign_width_set_orders .table td {
    padding: .75rem;
    border-top: 1px solid #000000;
    font-family: 'Apercu';
  }
  .responsive-table-row.class_for_table_new_border  a.theme-link-color, .responsive-table-row.class_for_table_new_border  a.theme-link-color:hover {
    color:black;
    text-decoration:none;
  }
  .border_left_for_new_design  {
    border-left:1px solid;
  }
  .address_order_templatenew {
  }
  .address_order_templatenew h3.card-header.h5 {
    background-color: rgba(0,0,0,0.8);
    color: white;  
    font-family: 'Apercu Pro';
  }
  .address_order_templatenew .card-body {
    font-family: 'Apercu';
  }
  @media screen and (max-width:1100px) {
    .responsive-table-row.class_for_table_new_border .align-middle.widthset_haus {
      width: 220px;
    }
  }
  .desktop_display_none_new {
    display:block;
  } 
  .mobile_display_none_new {
    display:none;
  }
  @media screen and (max-width: 991px) {
    .responsive-table-row.class_for_table_new_border .align-middle.widthset_haus {
      width: 100%;
      background-color: white;
      margin: 0px;
    }
    .desktop_display_none_new {
      display:none;
    }
    .mobile_display_none_new {
      display:block;
    }
    .display_new_align_cenetr {
      display:flex;
      justify-content:space-between;
    }
   .table-responsive-collapse-lg tbody tr td:before {
   	text-align:left;
   }
  }
  .text-left.display_new_align_cenetr p {
  	margin-bottom:0px;
  }


</style>  
<!-- <article class="pt-6 container loginformwhenpasswrong"> 
<h1 class="text-center mb-3">{{ 'customer.order.title' | t: name: order.name }}</h1> -->

<div class="account_page_delrio_section_1 margintop120pxdeskgra">
  <hr class="sepratohracpage33">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 displayalignitemcenterccpa odersnavcustomacclangua"></div>
      <div class="col-lg-8 col-md-8 col-sm-12 col-12 incudenacacc21">
        {% include 'account-nav' with selectedIndex: 0 %}
      </div>
    </div>  
  </div>
  <hr class="sepratohracpage33 seprat34accpageliner">

  <article class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 displayalignitemcenterccpa">
        <div class="displayalignitemcentevrea">
          <h1 class="customerfirstnamegra">Hi {{customer.first_name}}</h1>
          <p class="welcomebackptatext">
            Currently viewing {{ 'customer.order.title' | t: name: order.name }}
            {% assign orderDate = order.created_at | date: "%B %d, %Y %I:%M%p" %}
            {{ 'customer.order.date' | t: date: orderDate }}
          </p>
          <a class="newnaclgoutbutton nav-link theme-link-color" href="/account/logout">
            <p class="descriptioncustomerwelcome">
              {{ 'customer.account.nav.logout' | t }}
            </p>
          </a>
        </div>        
      </div>

      <div class="col-lg-8 col-md-8 col-sm-12 col-12 incudenacacc21">

        {% comment %}
        <p class="bg-light py-2 px-3 rounded mb-3 text-muted">
          {% assign orderDate = order.created_at | date: "%B %d, %Y %I:%M%p" %}
          {{ 'customer.order.date' | t: date: orderDate }}
        </p>
        {% endcomment %}

        {% if order.cancelled %}
        <p class="alert alert-warning mt-4 mb-0" role="alert">
          {%- assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" -%}
          {{ 'customer.order.cancelled' | t: date: cancelled_at }} - {{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}
        </p>
        {% endif %}
        <div class="width_94_new_hau-orders">
          <div class="table-responsive-collapse-lg new_deign_width_set_orders">
            <div class="order_details_new_haus">
              <h1>{{ 'customer.order.title' | t: name: order.name }}</h1>
              <p>
                Order Date : {% assign orderDate = order.created_at | date: "%B %d, %Y %I:%M%p" %}
                {{ 'customer.order.date' | t: date: orderDate }}
              </p>
            </div>


            <table id="table-order-details" class="table mb-5">
              <thead class="">
                <tr>
                  <th>{{ 'customer.order.product' | t }}</th>
                  <th class="text-center">{{ 'customer.order.sku' | t }}</th>
                  <th class="text-center">{{ 'customer.order.price' | t }}</th>
                  <th class="text-center">{{ 'customer.order.quantity' | t }}</th>
                  <th class="text-right">{{ 'customer.order.total' | t }}</th>
                </tr>
              </thead>
              <tbody>
                {% for line_item in order.line_items %}
                <tr id="{{ line_item.key }}" class="responsive-table-row class_for_table_new_border">
                  <td class="align-middle widthset_haus" data-label="{{ 'customer.order.product' | t }}">
                    {{ line_item.title | link_to: line_item.product.url | replace: '<a', '<a class="theme-link-color"' }}
                    {% if line_item.fulfillment %}
                    <dl class="mb-0">
                      <dt>{{ 'customer.order.fulfilled_at' | t }}</dt>
                      <dd>{{ line_item.fulfillment.created_at | date: format: 'abbreviated_date' }}</dd>

                      {% if line_item.fulfillment.tracking_url %}
                      <dt>{{ 'customer.order.tracking_url' | t }}</dt>
                      <dd>
                        <a class="theme-link-color" href="{{ line_item.fulfillment.tracking_url }}">
                          {{ 'customer.order.track_shipment' | t }}
                        </a>
                      </dd>
                      {% endif %}

                      <dt>{{ 'customer.order.tracking_company' | t }}</dt>
                      <dd>{{ line_item.fulfillment.tracking_company }}</dd>

                      {% if line_item.fulfillment.tracking_number %}
                      <dt>{{ 'customer.order.tracking_number' | t }}</dt>
                      <dd>{{ line_item.fulfillment.tracking_number }}</dd>
                      {% endif %}
                    </dl>
                    {% endif %}
                  </td>
                  <td class="text-left align-middle" width="120" data-label="{{ 'customer.order.sku' | t }}">{{ line_item.sku }}</td>
                  <td class="text-left align-middle" width="120" data-label="{{ 'customer.order.price' | t }}">{{ line_item.price | money }}</td>
                  <td class="text-left align-middle" width="120" data-label="{{ 'customer.order.quantity' | t }}">{{ line_item.quantity }}</td>
                  <td class="text-left align-middle" width="140" data-label="{{ 'customer.order.total' | t }}">{{ line_item.quantity | times: line_item.price | money }}</td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4" class="text-left display_new_align_cenetr"><p>{{ 'customer.order.subtotal' | t }}</p> <p class="mobile_display_none_new" data-label="{{ 'customer.order.subtotal' | t }}">{{ order.line_items_subtotal_price | money }}</p></td>
                  <td class="text-left border_left_for_new_design desktop_display_none_new" data-label="{{ 'customer.order.subtotal' | t }}">{{ order.line_items_subtotal_price | money }}</td>
                </tr>

                {% for discount in order.discounts %}
                <tr>
                  <td colspan="4" class="text-left display_new_align_cenetr"><p>{{ discount.code }} {{ 'customer.order.discount' | t }}</p> <p class="mobile_display_none_new" data-label="{{ 'customer.order.discount' | t }}">{{ discount.savings | money }}</p></td>
                  <td class="text-left border_left_for_new_design desktop_display_none_new" data-label="{{ 'customer.order.discount' | t }}">{{ discount.savings | money }}</td>
                </tr>
                {% endfor %}

                {% for shipping_method in order.shipping_methods %}
                <tr>
                  <td colspan="4" class="text-left display_new_align_cenetr "><p>{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</p>  <p class="mobile_display_none_new" data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</p></td>
                  <td class="text-left border_left_for_new_design desktop_display_none_new" data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
                </tr>
                {% endfor %}

                {% for tax_line in order.tax_lines %}
                <tr>
                  <td colspan="4" class="text-left display_new_align_cenetr"><p>{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</p>  <p class="mobile_display_none_new" data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</p></td>
                  <td class="text-left border_left_for_new_design desktop_display_none_new" data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
                </tr>
                {% endfor %}

                <tr>
                  <td colspan="4" class="text-left display_new_align_cenetr"><p>{{ 'customer.order.total' | t }}</p> <p class="mobile_display_none_new" data-label="{{ 'customer.order.total' | t }}"><strong>{{ order.total_price | money }} {{ order.currency }}</strong></p></td>
                  <td class="text-left border_left_for_new_design desktop_display_none_new" data-label="{{ 'customer.order.total' | t }}"><strong>{{ order.total_price | money }} {{ order.currency }}</strong></td>
                </tr>

              </tfoot>
            </table>
          </div>

          {% if order.note != blank %}
          <div class="alert alert-info mb-4">
            <h4 class="h5 alert-heading mb-1">{{ 'customer.order.note' | t }}</h4>
            <div>{{ order.note }}</div>
          </div>
          {% endif %}

          <div class="address_order_templatenew">
            <div class="row mx-sm-n2">
              <div class="col-sm mb-3 px-sm-2">
                <div class="card">
                  <h3 class="card-header h5">{{ 'customer.order.billing_address' | t }}</h3>
                  <div class="card-body">
                    <p><strong>{{ 'customer.order.payment_status' | t }}: {{ order.financial_status_label }}</strong></p>
                    {{ order.billing_address | format_address }}
                  </div>
                </div>
              </div>
              <div class="col-sm mb-3 px-sm-2">
                <div class="card">
                  <h3 class="card-header h5">{{ 'customer.order.shipping_address' | t }}</h3>
                  <div class="card-body">
                    <p><strong>{{ 'customer.order.fulfillment_status' | t }}: {{ order.fulfillment_status_label }}</strong></p>
                    {{ order.shipping_address | format_address }}
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </article>
</div>

