{% stylesheet %}
.empty_cart_homepage_css_228_hh h1.Your-bag-is-empty_home_ssm {
  font-family: 'Butler';
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: rgba(46, 68, 51, 0.4);
  margin:24px 0 32px;
}
.empty_cart_homepage_css_228_hh p.Log-in-to-see-items_789 {
  font-family: Apercu;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: rgba(46, 68, 51, 0.6);
  margin-bottom:40px;
}
 .empty_cart_homepage_css_228_hh p.LEARN-MORE_homepage_789_empty_cart {
  font-family: Apercu Pro;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 2px;
  text-align: center;
  color: #f5f5f3;
  background-color:#2e4433;
  padding:16px 0;
  padding: 16px;
  width: 50%;
  margin: 0 auto;
}
.xero_peddinz_left_123_homepage {
  padding-left:0px;
}
  .empty_cart_homepage_css_228_hh {
     width:70%;
     margin:0 auto;
    padding-top:60px;
  }
  .make_padding_classhomepage_sm_333 {
    border-bottom: solid 0px rgba(23, 31, 21, 0.4);
  }
  p.please_ship_address_21_plus_pop_cart {
   font-size: 15px;
   line-height: 1.75;  
   font-family:apercu pro;
   margin-top:9px;
   margin-bottom:0px;
   text-align:center;
  }
  

  @media screen and (max-width:991px) {
  .empty_cart_homepage_css_228_hh {
    width: 90%;
    padding-top: 45px;
   }
    .empty_cart_homepage_css_228_hh p.Log-in-to-see-items_789 {
    font-size: 15px;
    }
    .empty_cart_homepage_css_228_hh h1.Your-bag-is-empty_home_ssm {
    margin: 20px 0 24px;
}  
    
  }
  @media screen and (max-width:350px) {
  .empty_cart_homepage_css_228_hh {
    width: 100%;
  }
    .empty_cart_homepage_css_228_hh p.Log-in-to-see-items_789 {
    font-size: 13px;
    }
    .empty_cart_homepage_css_228_hh h1.Your-bag-is-empty_home_ssm {
    font-size: 27px;
    } 
  }
{% endstylesheet %}

<style>
  .cart-view__footer-layout {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  #displayOnclickatoptions.oys , #newtexthaus21.oys{
    overflow-x: auto;
    overflow-y: scroll;
  }
  #displayOnclickatoptions.gutter-px-xs-2, #newtexthaus21.gutter-px-xs-2 {
    padding-left: 8.33333%;
    padding-right: 3.33333%;
  }
  #newtexthaus21 .button-text {
    font-family: GTA-Extended,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: .0625rem;
    text-transform: uppercase;
  }
  #displayOnclickatoptions .bps-pb-30 {
    padding-bottom: 30px;
  }
  #newtexthaus21 .justoify_spac_997 {
    display: flex;
    justify-content: space-between;    
  }

  #displayOnclickatoptions .small_0009, #newtexthaus21 .small_0009 {
    font-size: 14px;
    line-height: 1.5;
    font-family: Apercu;
  }
  .cart-view__messaging.oh.-pb-20.bps-pb-30.b-bottom-french {
    display:none;
  }
  /*   after click   */

  #displayOnclickatoptions .mini-cart__header {
    padding-top: 3vw;
  }
  #displayOnclickatoptions .mini-cart__header--gift-panel-open {
    width: 100%;
    position: relative;
    height: 85px;
  }
  .pointer_0008 , #movetoTextarea{
    cursor: pointer;
    text-decoration: underline;
  }
  #movebacktocartdisplayto {
    text-decoration:none;
  }
  .base-text_0009 {
    font-size: 16px;
    line-height: 1.5;
  }
  svg.zera_pl {
    fill: currentColor;
  }
  #displayOnclickatoptions .bps-py-30,#newtexthaus21 .bps-py-30  {
/*     padding-top: 30px; */
    padding-bottom: 30px;
    border-bottom:solid 1px rgba(23, 31, 21, 0.4);
  }

  #CartSpecialInstructions.custom-textarea {
    font-size: 14px;
    line-height: 1.5;
    font-family: GTA,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    border-color: #c5c4c1;
    color: #000;
    background-color: transparent;
    transition: border-color .4s ease-out;
    outline: 0;
  }
  textarea#CartSpecialInstructions {
    min-height: 100px;
  }
  #displayOnclickatoptions .-my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #displayOnclickatoptions .text-faded-black,#newtexthaus21 .text-faded-black {
    color: rgba(0,0,0,.6);
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 15px;
  }
  #displayOnclickatoptions .remaningtext {
    font-family: 'Apercu';
    text-transform: uppercase;
    font-size: 13px;
    color: rgba(0,0,0,.6);
    margin: 0px;
  }
  #displayOnclickatoptions .button-text--disabled {
    color: #696969;
  }
  #displayOnclickatoptions .btn_textareasection.is-disabled.is-gray {
    background-color: #696969;
    color: #fff;
    border-color: #696969;
  }

  .btn_textareasection.is-disabled {
    cursor: not-allowed;
    transform: none;
  }
  #displayOnclickatoptions .-d-table {
    display: table;
  }
  .btn--full {
    width: 100%;
  }
  .btn_textareasection {
    font-family: GTA-Extended,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 1.16667;
    position: relative;
    display: inline-block;
    background-color: #191919;
    border: 1px solid #191919;
    color: #fff;
    text-align: center;
    padding: 18px 32px;
    text-decoration: none;
    text-transform: uppercase;
    transform: translateZ(0);
    transition: background-color .4s ease-in-out,color .4s ease-out;
    letter-spacing: .0625rem;
    min-width: 180px;
    cursor: pointer;
    outline: 0;
  }
  #displayOnclickatoptions .btn_textareasection.is-disabled:before {
    transform: scale(0);
  }
  #displayOnclickatoptions .note-header.-mt-0.-mb-30 {
    font-family:Apercu pro;
    font-size: 27px;
  }

  #displayOnclickatoptions .btn_textareasection:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ebeae7;
    color: #fff;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: .4s ease-in-out;
  }
  #displayOnclickatoptions {
    display:none;
  }
  #displayOnclickatoptions .flex.-my-20 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #newtexthaus21 .button-text.base-text.-ml-auto.clear-note-btn {
    font-size:13px;
    font-family:Apercu pro;
    cursor:pointer;
  }
  #displayOnclickatoptions textarea.custom-textarea.-py-5.-px-10 {
    font-size:17px;
    font-family:Apercu;
  }
  #newtexthaus21 .Gifting_Del_88 {
    font-family: Apercu pro;
    font-size: 17px;
    margin-left: 15px;
  }
  #displayOnclickatoptions .button-text_tocleartexarea {
    font-size: 13px;
    font-family: Apercu pro;
    cursor: pointer;
    line-height: 1.5;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .0625rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  #displayOnclickatoptions .-mt-sm.btn_textareasection.btn--full.-d-table {
    color:white;
  }
  #displayOnclickatoptions .btn:focus,#displayOnclickatoptions .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0,0,0,1);
  }
  .fullwidthcarbutn00pp {
     width:100%;
  }
.warning_moths_SUMMER {
  font-family: 'Apercu Pro';
  font-size: 13px;
  text-align: center;
  color:red;
}
.hot_summer_months {
    display: flex;
    align-items: flex-end;
    display: -webkit-flex;
    border-bottom: solid 1px rgba(23, 31, 21, 0.4);
    margin-bottom: 30px;
}
</style>


<div class="make_position_absolute_bg_item_cart_007">  </div>

<!--RIGHT SIDE NAV-->

<div id="mySideNav" class="sidenav">
  {% if cart.item_count > 0 %}
  <div id="hidesectiononclick23">
    <div id="make_padding">
      <div class="header_right">
        <span class="Cart_it">CART</span> <span class="cart_item cart_item_count">({{cart.item_count}} item)</span>
        <a href="javascript: void(0);" class="closebtn" id="closebutton"><i class="fa fa-times"></i></a>
      </div>
      <div class="cart_right">
        <div class="products_in_cart_added">
        {% for items in cart.items %}
        {% assign imageSrc = items.image  %}
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <div class="right_flex">
              {% if imageSrc == null %}
              <img src="{{'no_image.png'|asset_img_url:'80x'}}" alt=""> 
              {% else %}
              <img src="{{imageSrc |img_url :'80x80'}}" alt=""> 
              {% endif %}
              <div>
                <span class="cart_item">{{items.title}}</span>
                
                <div class="ml-0 cart_item">
                  <!-- {{ items.selling_plan_allocation.selling_plan.name }} -->
                  {% if items.properties.Subscription %}
                  Subscription : {{ items.properties.Subscription }}
                  {% endif %}
                </div>
                
                {% comment %}
                {% for variant in product.variants %}
                <optgroup label="{{ variant.title }}">
                  {% for allocation in variant.selling_plan_allocations %}
                  <option value="{{ allocation.selling_plan.id }}">
                    {{ allocation.selling_plan.name }}
                  </option>
                  {% endfor %}
                </optgroup>
                {% endfor %}
                {% endcomment %}
                <a href="/cart/change.js?line={{ forloop.index }}&amp;quantity=0"  data-line-item="{{ forloop.index }}"   data-product-id="{{items.variant_id}}" class="cart_remove cart_remove_item">Remove</a>
              </div>

            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-6 d-flex justify-content-end align-items-center xero_peddinz_left_123_homepage">
            <form class="value_btn">
              <div class="val_btn">
                <div class="value-button" id="decrease" data-product-id="{{items.variant_id}}" onclick="decreaseValue(this)" value="Decrease Value">-</div>
                <input data-product-id="{{items.variant_id}}" type="number" id="number" value="{{items.quantity}}" />
                <div class="value-button" id="increase" data-product-id="{{items.variant_id}}" onclick="increaseValue(this)" value="Increase Value">+</div>
              </div>
            </form>
            <span class="cart_ruppee">{{items.line_price|money}}</span>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
      {% comment %} 
      <div class="carousel_right">
        <p class="cart_ruppee">Best Wines for Summer</p>

        <div class="owl-carousel owl-theme" id="carousel_3">


          <div class="Chardonnay_2018">
            <img src="{{ 'right_menu_bottle1@3x.png' | asset_url }}" alt="">
            <p>2018 Chardonnay</p>
            <a href="#"><p class="ADD-TO-CART">  ADD - $20</p></a>
          </div>

          <div class="Chardonnay_2018">
            <img src="{{ 'right_menu_bottle2@3x.png' | asset_url }}" alt="">
            <p>2017 Cabernet Sauv…</p>
            <a href="#"><p class="ADD-TO-CART">  ADD - $20</p></a>
          </div>

          <div class="Chardonnay_2018">
            <img src="{{ 'right_menu_bottle3@3x.png' | asset_url }}" alt="">
            <p>2019 Grenache Rosé</p>
            <a href="#"><p class="ADD-TO-CART">  ADD - $20</p></a>
          </div>


          <div class="Chardonnay_2018">
            <img src="{{ 'right_menu_bottle2@3x.png' | asset_url }}" alt="">
            <p>2018 Chardonnay</p>
            <a href="#"><p class="ADD-TO-CART">  ADD - $20</p></a>
          </div>

        </div>      
      </div> 
      {% endcomment %}
    </div>

    <div id="newtexthaus21" class="row cart-view__footer-layout cart-view__gift-note b-top-french gutter-px-xs-2 oys">
      <div class="col col-xs-full">
        <div class="cart-view__block -py-20 bps-py-30">
        <div class="hot_summer_months">
          <p class="warning_moths_SUMMER">
 	          For the hot summer months we recommend shipping next day air. All ground shippments will be held until weather permits.
          </p>
        </div>
          <div class="justoify_spac_997">
            <div class="d-flex">
              <svg width="21" height="23" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg" class="zera_pl -mr-10">
                <path d="M20.3 5.47001H16C16.457 5.07323 16.7891 4.55247 16.9562 3.97079C17.1233 3.38912 17.1182 2.77148 16.9415 2.19265C16.7648 1.61383 16.424 1.09865 15.9605 0.709491C15.497 0.320336 14.9307 0.0738964 14.33 1.25133e-05C13.9206 -0.0583365 13.5036 -0.0344413 13.1036 0.0702997C12.7035 0.175041 12.3283 0.358524 12 0.610013C11.21 1.19001 10.56 2.82001 10.16 4.10001C9.75 2.82001 9.1 1.19001 8.31 0.610013C7.63562 0.121302 6.796 -0.0823824 5.97265 0.0429918C5.14929 0.168366 4.40835 0.612726 3.91 1.28001C3.41754 1.95372 3.21254 2.7953 3.34 3.62001C3.4476 4.33436 3.80129 4.9887 4.34 5.47001H0V9.87001H1.5V22.12H18.8V9.87001H20.3V5.47001ZM12.58 1.47001C12.8058 1.30064 13.063 1.17782 13.3367 1.10872C13.6103 1.03961 13.895 1.02558 14.1741 1.06745C14.4533 1.10932 14.7213 1.20625 14.9626 1.35261C15.204 1.49897 15.4138 1.69184 15.58 1.92001C15.9169 2.36209 16.0676 2.91834 16 3.47001C15.9618 3.74939 15.8678 4.01822 15.7235 4.26047C15.5791 4.50272 15.3875 4.71342 15.16 4.88001C14.5 5.36001 12.37 5.45001 10.85 5.38001C11.21 3.91001 11.92 1.90001 12.58 1.42001V1.47001ZM4.72 1.93001C4.91196 1.64694 5.16955 1.41452 5.4708 1.25258C5.77205 1.09064 6.10801 1.00398 6.45 1.00001C6.90722 1.00141 7.3521 1.14853 7.72 1.42001C8.38 1.90001 9.09 3.91001 9.49 5.42001C7.97 5.48001 5.83 5.42001 5.18 4.92001C4.94982 4.7552 4.75571 4.54514 4.60955 4.30269C4.4634 4.06024 4.36827 3.79051 4.33 3.51001C4.27962 3.2261 4.28824 2.93485 4.35534 2.65442C4.42244 2.37399 4.54657 2.11037 4.72 1.88001V1.93001ZM1 8.87001V6.47001H9.65V8.87001H1ZM2.5 9.87001H9.65V21.12H2.5V9.87001ZM17.8 21.12H10.65V9.87001H17.8V21.12ZM19.3 8.87001H10.65V6.47001H19.3V8.87001Z" fill="#191919">
                </path>
              </svg>
              <span class="align-center Gifting_Del_88">Gifting Del Rio?</span>
            </div>  
            <span id="movetoTextarea" class="button-text pointer_0008 x-small -ml-auto button-text--underline">View Options</span>
          </div>
          <div class="peek-wrap" style="display: block;">
            <p class="note-peek gta-standard-italic text-faded-black small_0009 -d-block bps-d-none -mb-0 -mt-15" id="workhard">
              Include a free note placed in the box.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="gra_footer">
      <div class="footer_right" id="footer_right_menu">
        {% comment %} 
        <div class="d-flex justify-content-between">
          <p class="Add-two-bottles-and">Add two bottles and get 15% off</p>
          <div class="d-flex for_centre">
            <p class="Est-Shipping-9">Est. Shipping $9 &nbsp;</p><i class="fa fa-question-circle"></i>
          </div>
        </div>
        <div class="middle">
          <div class="bar-container">
            <div class="bar-4"></div>
          </div>
        </div> 
        {% endcomment %}

        {% comment %}
         <div class="d-flex justify-content-between">
          <div onclick="joinClub(this)" class="fullwidthcarbutn00pp">
            <button name="checkout" class="shop_continue Continue-Shopping cart-total-value"  onclick="checkoutpopup()">CHECKOUT - {{cart.total_price|money}}</button>	
          </div>
        </div>
		{% endcomment %}
        <div class="d-flex justify-content-between">
          <div class="fullwidthcarbutn00pp">
            <a href="/cart" class="footer_right_menu_p3"><button class="onto_cart shop_continue Continue-Shopping cart-total-value" onclick="checkoutpopup()">CHECKOUT - {{cart.total_price|money}}</button></a>	
          </div>
        </div>
        <script>
          $(".onto_cart").click(function(){
				window.location.href = "/cart";
		  });
        </script>
        <p class="please_ship_address_21_plus_pop_cart">Please ship to an address where an adult (21+) will be available to sign for the package.</p>
        {% comment %} <div class="d-flex justify-content-center get_the">
        <p class="Order-as-a-gift-at-c ">Get the same shipping cost for 1-3 bottles &nbsp;</p><i class="fa fa-question-circle"></i>
        </div>
        <p class="Order-as-a-gift-at-c text-center">Order as a gift at checkout &nbsp;</p>
         {% endcomment %}
      </div>
    </div>
  </div>

  <div id="displayOnclickatoptions" class="row cart-view__footer-layout cart-view__gift-note b-top-french gutter-px-xs-2 oys">
    <div class="col col-xs-full">
      <div class="mini-cart__header mini-cart__header--gift-panel-open gutter-px-xs-1 gutter-px-lg-2 -pt-20">
        <div class="mini-cart__header-inner mini-cart__header-inner--gift-panel-open -py-30">
          <span id="movebacktocartdisplayto" class="pointer_0008 base-text_0009 -mr-auto">
            <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="-mr-10 note-arrow"><path d="M8.00818 1.70833e-06L10.2847 2.27649L4.56923 7.99193L10.2847 13.7235L8.00818 16L0.000107512 7.99193L8.00818 1.70833e-06Z" fill="#0C0C0C"></path></svg>
            Back to Cart
          </span>
        </div>
      </div>
      <div class="cart-view__block -py-20 bps-py-30">
        <div class="peek-wrap" style="display: none;">
          <p class="note-peek--clear gta-standard text-faded-black small_0009 -mb-0 -mt-15">Include a free note. Limited-edition gift boxes no longer available.</p>
        </div>
        <div class="cart-view__messaging oh  -pb-20 bps-pb-30 b-bottom-french" style="display: block;">
          <h2 class="note-header -mt-0 -mb-30">Add a complimentary note</h2>
          <p class="small_0009 -no-mt -mb-30">We’ll include a personalized note with your order. No emojis, please! (Gift notes are unavailable for same-day delivery orders.)️</p>
          <div>
<!--             <textarea id="special-instructions" name="attributes[Special Instructions]">{{ cart.attributes["Special Instructions"] }}</textarea> -->
                 <textarea class="custom-textarea -py-5 -px-10 message222" name="attributes[Gift Message Custom]" maxlength="100" id="CartSpecialInstructions" placeholder="Type your message here...">{{ cart.attributes["Gift Message Custom"] }}</textarea>
            <div class="flex -my-20">
              <span class="remaningtext"><span id="counter">100 </span> characters remaining</span>
              <span class="button-text_tocleartexarea button-text--disabled" id="clearalltexarea"> Clear</span>
            </div>
            <div class="save-note-wrap">
              <button class="-mt-sm btn btn_textareasection btn--full -d-table -mt-10 -mx-auto is-disabled is-gray" id="disablemessage21" disabled="">Saved Message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
	  <!-- https://stackoverflow.com/questions/23553120/shopify-how-to-edit-the-html-liquid-on-the-checkout-page -->
  {% else %}
  
  <div id="make_padding" class="make_left_right_padding_for_alls_hmepg">
    <div class="header_right make_padding_classhomepage_sm_333">
      <a href="javascript: void(0);" class="closebtn" id="closebutton"><i class="fa fa-times"></i></a>
      <div class="empty_cart_homepage_css_228_hh text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="44" viewBox="0 0 36 44">
          <g fill="none" fill-rule="evenodd" opacity=".1">
            <g stroke="#171F15" stroke-width="4">
              <g>
                <g>
                  <path d="M10 22V8c0-4.418 3.582-8 8-8s8 3.582 8 8v14h0" transform="translate(-1158 -80) translate(952 82) translate(206)"/>
                  <path d="M34 10v30H2V10h32z" transform="translate(-1158 -80) translate(952 82) translate(206)"/>
                </g>
              </g>
            </g>
          </g>
        </svg>
        <h1 class="Your-bag-is-empty_home_ssm">Your bag is empty</h1>
        <p class="Log-in-to-see-items_789">Shop to add products to your cart</p>
        <a href="/collections/all" id="close_button_empty_cart_home"><p class="LEARN-MORE_homepage_789_empty_cart">SHOP ALL</p></a>
      </div>
    </div>    
  </div>
{% endif %}
</div>


  
   

<script>
//   console.log("Hello");
//   console.log({{ cart.items | json }});
//   console.log("Hello 1");
//   console.log({{ cart.items[0].selling_plan_allocation.selling_plan.name | json }});
// $(window).resize(function(){
//     var total_height = $(".cart_right").height();
//     var product_height = $(".cart_right .products_in_cart_added").height();
//     var height_for_warning = total_height-product_height-10;
//     console.log(height_for_warning);
//     $(".hot_summer_months").attr("style","height:"+height_for_warning+"px");
// });  
</script>

