<!-- section 5 -->

<div class="section_5_history">
        <div class="container">
            <div class="Visit-Us_history">
                <p>{{section.settings.his_pag_sec_8_heading}}</p>
                <h1 class="We-invite-you-to-com_his">{{section.settings.his_pag_sec_8_desc}}</h1>

           <div class="sig_about_us sig_about_us1">
                  <p class="text-center">{{section.settings.his_pag_sec_8_author}}</p>
           </div>
              
              <!--                <div class="signature_owner_history">
                    <div class="row padding_35_about">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="d-flex align-items-center">
                                <div class="sig_about_us sig_about_us1">  -->
<!--                                     <img src="{{'vineyard_history_aeard_sm.png' | asset_url }}" alt=""> -->
<!--                                    <p>ROB WALLACE</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="d-flex align-items-center height_100_about">
                                <div class="sig_about_us margi_about_up ">  -->
<!--                                     <img src="{{'vineyard_history_aeard_sm_2.png' | asset_url }} " alt=""> -->
                       <!--             <p class="mar_sign_name_history">JOLEE WALLACE</p>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div> -->
            </div>
        </div>
</div>



{% schema %}
{
  "name": "History Eight Section",
  "settings": [
     {
      "id": "his_pag_sec_8_heading",
      "type": "text",
      "label": "Heading"
       },
     {
      "id": "his_pag_sec_8_desc",
      "type": "textarea",
      "label": "Description"
       },
     {
      "id": "his_pag_sec_8_author",
      "type": "text",
      "label": "Author Name"
      }
]
}
{% endschema %}