<style>
.padding-4_perk_last_child {
  padding-bottom:0px;
}
</style>
<div class="padding-4_perk padding-4_perk_last_child">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="perk_6_img">
        <div class="perk_6 perk_9">
          <img src="{{section.settings.his_pg_section_3_image_4 | img_url:'master'}}{{'history_page_imag_5.png' | asset_url }}" alt="">
          <p class="On-February-8-1865_history_2 desc_his_2">{{section.settings.his_pg_section_3_image_details_4}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="perk_6_text perk_7_his">
        <div class="perk_vip_text">
          <h1 class="year_in_history_page mar_30_history_mm">{{section.settings.his_pg_section_3_year_4}}</h1>
          <p class="On-February-8-1865_history_1">{{section.settings.his_pg_section_3_sub_heading_4}}</p>
          {% for block in section.blocks %}
          <p class="On-February-8-1865_history_2">{{block.settings.his_pg_section_3_Description_4}}</p>
          {% endfor %}  
        </div>
      </div>
    </div>
  </div>
</div> 




{% schema %}
  {
    "name": "History Sixth section",
    "settings": [
     {
      "id": "his_pg_section_3_image_4",
      "type": "image_picker",
      "label": "image"
       },
     {
      "id": "his_pg_section_3_image_details_4",
      "type": "text",
      "label": "Image Details"
      },
     {
      "id": "his_pg_section_3_year_4",
      "type": "text",
      "label": "Year"
      },
     {
      "id": "his_pg_section_3_sub_heading_4",
      "type": "textarea",
      "label": "Sub Heading"
      }
],
  "blocks": [
    {
      "type": "select",
      "name": "Description",
      "settings": [
        {
          "id": "his_pg_section_3_Description_4",
          "type": "textarea",
       	  "label": "Description"
        }
      ]
    }
  ]
}
{% endschema %}
