<style>
  
  .LEARN-MORE {
    padding: 10px 75px;
  }
  @media screen and (max-width: 2600px) {
    .header_img img {
      left: 0 !important;
/*       width: 1261px; */
      height: auto !important;
    }
  }
/*   @media screen and (max-width: 2440px) {
    .header_img img {
      width: 1201px;
    }
  }
  @media screen and (max-width: 2350px) {
    .header_img img {
      width: 1151px;
    }
  }
  @media screen and (max-width: 2150px) {
    .header_img img {
      width: 1041px;
    }
  }
  @media screen and (max-width: 2000px) {
    .header_img img {
      width: 971px;
    }
  } */
  @media screen and (min-width: 2000px) {
    .section_1 .header_text {
      margin-left: 12%;
    }
  }
/*   @media screen and (max-width: 1950px) {
    img.d_none_mble_del_del {
      width: 945px;
    }
  } */
  @media screen and (max-width: 1670px) {
    .section_1 .header_text {
      width: 510px;
    }
  }
/*   @media screen and (max-width: 1550px) {
    img.d_none_mble_del_del {
      width: 754px !important;
    }
  } */
  @media screen and (max-width: 1500px) {
    img.d_none_mble_del_del {
/*       width: 748px !important; */
      padding-bottom:0px !important;
    }
    .section_1 .header_text {
      align-items: flex-end;
    }
  }
   
  @media screen and (max-width: 1450px) {
    img.d_none_mble_del_del {
      width: 100% !important;
    }
  }
  
    @media screen and (min-width:1450px){
    .section_1.homepafesection1fixed {
      height: auto !important;
    overflow-y: hidden !important;
    
    }
      .section_1 .header_text {
     align-items: flex-end;
/*     padding-bottom: 30% !important; */
  }
      
  } 
  
      @media screen and (min-width:1551px){
/*     .section_1.homepafesection1fixed {
      height: 710px !important;
    overflow-y: hidden !important;
    
    } */
        .section_1 .header_text {
     align-items: flex-end;
/*      padding-bottom: 20% !important; */
  }
      
  }  
     @media screen and (min-width:2200px){
/*     .section_1.homepafesection1fixed {
      height: 910px !important;
      overflow-y: hidden !important;
    
    } */
       .section_1 .header_text {
      align-items: flex-end;
/*       padding-bottom: 12% !important; */
  }
      
  } 
  
  
  @media screen and (min-width: 1200px) and (max-width: 1450px) {
    .section_1 .header_text {
      align-items: flex-end;
      padding-bottom: 12%;
    }
  }
  @media screen and (min-width: 1400px) {
    .section_1 .header_text {
      width: 580px;
    }
    .A-new-layer-of-compl {
      font-size: 73px;
    }
    .With-every-bottle-of.new-layer-of-complh1tag {
      width: 80%;
    }
    .LEARN-MORE.LEARN-MORE_del_rio_mble11 {
      margin-top:24px;
    }
  }
  @media screen and (min-width: 1500px) {
    .A-new-layer-of-compl {
      font-size: 77px;
    }
    .With-every-bottle-of.new-layer-of-complh1tag {
      font-size: 17.5px;
    }
    .section_1 .header_text {
      width: 680px;
      align-items: center;
    }
  }
  @media screen and (max-width: 1340px) {
    img.d_none_mble_del_del {
      width: 633px !important;
    }
  }
  @media screen and (max-width: 1300px) {
    img.d_none_mble_del_del {
      width: 635px !important;
    }
  }
  @media screen and (min-width:1680px) {
    .section_1 .header_text {
      width: 530px;
    }
  }
  @media screen and (max-width:1250px) {
    .section_1 .header_text {
      width: 425px;
    }
  }

  @media screen and (min-width: 1650px) {
    .section_1 .header_text {
      width: 750px;
    }
    .A-new-layer-of-compl {
      font-size: 85px;
    }
    .With-every-bottle-of.new-layer-of-complh1tag {
      font-size: 19px;
    }
    .LEARN-MORE {
      padding: 10px 85px;
      font-size: 16px;
    }
  }
  @media screen and (max-width:1200px) {
    .section_1 .header_text {
      padding-bottom: 12%;
      width: 422px;
    }
  }
  
  @media screen and (max-width:1150px) {
    img.d_none_mble_del_del {
      width: 549px !important;
    }
  }
  @media screen and (max-width: 1050px) {
    img.d_none_mble_del_del {
      width: 493px !important;
    }
    .section_1 .header_text {
      width: 86%;
    }
    p.LEARN-MORE.LEARN-MORE_del_rio_mble11 {
      margin-bottom: 0 !important;
    }
  }
  @media screen and (max-width: 991px) {
    img.d_none_mble_del_del {
      width: 462px !important;
    }
    .section_1 {
      padding-top: 52px;
    }
  }
  @media screen and (max-width: 900px) {
    img.d_none_mble_del_del {
      width: 435px !important;
    }
    .A-new-layer-of-compl {
      font-size: 41px;
      width: 100%;
    }
    .With-every-bottle-of {
      font-size: 13px;
      width: 90%;
    }
    .section_1 .header_text {
      width: 86%;
      padding-bottom: 17%;
    }
  }
  @media screen and (max-width: 800px) {
    img.d_none_mble_del_del {
      width: 383px !important;
    }
    .section_1 .header_text {
      font-size: 37px;
      width: 88%;
    }
    .With-every-bottle-of {
      font-size: 12px;
      margin-top: 15px;
    }
    .LEARN-MORE {
      padding: 10px 35px;
    }
    .A-new-layer-of-compl {
    font-size: 38px;
    }
  }
  @media screen and (max-width: 767px) {
    .section_1 .header_text {
      width: 60%;
      text-align: center;
      margin: auto;
      padding-top: 50px;
      padding-left: 0 !important;
      padding-bottom: 0%;
    }
    .header_img {
      text-align: center;
      margin-bottom: 20px;
    }
    .center_webkit_1 {
      text-align: -webkit-center;
    }
    p.LEARN-MORE.LEARN-MORE_del_rio_mble11 {
      margin-bottom: 16px !important;
    }
    .With-every-bottle-of.new-layer-of-complh1tag {
      margin:25px auto;
    }
  }
  @media screen and (min-width: 720px) {
    .section_1_coloumn {
      min-height: auto;
    }
  }
  @media screen and (max-width: 650px) {
    .section_1 .header_text {
      width: 100%;
      padding-top: 0;
    }
    .header_img {
      margin-bottom: 0;
      margin-top: 0;
    }
    #mysfirstDIV {
      order: 2;
      padding: 40px;
      padding-top: 0;
    }
    #mysecondDIV {
      order: 1;
    }
    .container-max-width {
      max-width: 100%;
      margin: 0;
    }
    .header_img img {
      width: 653px;
    }
    p.LEARN-MORE.LEARN-MORE_del_rio_mble11 {
      margin-bottom: 0 !important;
    }
    img.d_none_desk_del_del {
      margin-top: 60px;
    }
  }
  @media screen and (max-width:650px) and (min-width:500px) {
    .section_1 .header_text {
      width: 70%;
      margin: auto;
    }
  }
  @media screen and (max-width: 580px) {
    .header_img img {
      width: 583px;
    }
  }
  @media screen and (max-width: 500px) {
    .header_img img {
      width: 485px;
    }
  }
  @media screen and (max-width: 450px) {
    .header_img img {
      width: 423px !important;
      margin-top: 60px;
    }
    .container.container-max-width {
      padding: 0;
    }
    #mysfirstDIV {
      padding: 0 15px 30px;
    }
    .container.container-max-width .row {
      margin: 0;
    }
  }
  @media screen and (max-width: 380px) {
    .header_img img {
      width: 393px !important;
    }
  }
  @media screen and (max-width: 340px) {
    .header_img img {
      width: 333px !important;
    }
  }
  .section_1_coloumn#mysfirstDIV {
    display: flex;
    align-items: center;
  }
  #mysecondDIV {
    padding-left:0px;
  } 
  .section.section_fix .navbar.navbar-expand-lg.navbar-light{
    background-color: transparent;
  }
  .section_1.homepafesection1fixed {
    padding-top:0px;
  }
  .new-layer-of-complh1tag {
    color: white;
  }
  p.LEARN-MORE.LEARN-MORE_del_rio_mble11 {
    background-color:white;
  }
</style>  

<div class="section_1 homepafesection1fixed" style="background-color:{{section.settings.Color_Section_1}};" >
  <div class="container container-max-width">
    <div class="row">
      <div class="col-lg-6 container_anti col-md-6 col-sm-12 col-xs-12" id="mysecondDIV">
        <div class="header_img"  style="overflow:hidden;" scroll="no" >
          <img class="d_none_mble_del_del" src="{{section.settings.Image_Section_1 | img_url: 'master' }}" alt="bottle">
          <img class="d_none_desk_del_del" src="{{section.settings.Image_Section_1 | img_url : 'master' }}" alt="bottle"> 	
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 section_1_coloumn"  id="mysfirstDIV">        
        <div class="header_text">
          <div>
            <h1 class="A-new-layer-of-compl new-layer-of-complh1tag">
              {{section.settings.Section1_heading}} 
            </h1>
            <p class="With-every-bottle-of new-layer-of-complh1tag">{{section.settings.Section1_text}}</p>
            <div class="center_webkit_1"><a class="text-decoration_none_as_homepage_123" href={{section.settings.Section1_link}}> <p class="LEARN-MORE LEARN-MORE_del_rio_mble11 ">{{ section.settings.Section1_linktext}}</p></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
"name": "Homepage First Section",
"settings": [
{
"id": "Section1_heading",
"type": "text",
"label": "Heading",
"default": "Title"
},
{
"id": "Section1_text",
"type": "textarea",
"label": "Add custom text below",
"default": "Enter text here"
},
{
"id": "Image_Section_1",
"type": "image_picker",
"label": "Section 1 image"

},
{
"id": "Color_Section_1",
"type": "color",
"label": "Section 1 Background Color"
},
{
"id": "Section1_linktext",
"type": "text",
"label": "Button text",
"default": "Explore All Wines"
},{
"id": "Section1_link",
"type": "url",
"label": "Button link"
}

]
}
{% endschema %}