<style>
  #myVideo_delrio_fullwidth {
    width: 100%; 
  }
  .content_imagelogobuttonplaystop {
    position: absolute;
    color: #f1f1f1;
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  #myBtn_playandstop_video,#myBtn_playandstop_video_22 {
    font-size: 16px;
    border: none;
    line-height: 76px;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    width: 6%;
    margin-top:-70%;
  }

  #myBtn_playandstop_video:focus,#myBtn_playandstop_video_22:focus{
    outline: 0px!important;
  }
  .backgroundvideobanner_delrio .container-fluid {
    padding: 0px;
  } 
  @media screen and (max-width:991px){
    #myBtn_playandstop_video,#myBtn_playandstop_video_22{
      width: 10%;
    }
  }
  @media screen and (max-width:767px){
    #myBtn_playandstop_video,#myBtn_playandstop_video_22{
      width: 10%;
      margin-top: -82%;
    }
  }
  @media screen and (max-width:320px){
    #myBtn_playandstop_video,#myBtn_playandstop_video_22{
      width: 12%;
      margin-top: -97%;
    }
  }
  #exampleModall.modal.fade.show {
    background-color: rgba(0, 0, 0, 0.4);
  }
  #checkout_close.check_white_newdesign span {
    color : white;
  }
  @media screen and (min-width:1400px) {
    #myVideo_delrio_fullwidth {
      height: 100vh;
      padding-bottom: 60px;
    }
    #myBtn_playandstop_video,#myBtn_playandstop_video_22 {
      margin-top:-55%;
    }
  }
  .d_none_set_banner,.di_nonemobileset {
  	display:none;
  }
  @media screen and (max-width:767px) {
    .d_none_set_banner_tab {
    	display:none;
    }
    .d_none_set_banner,.di_nonemobileset {
      display:block;
    }
    #myBtn_playandstop_video_22.di_nonemobileset {
    margin-top: -42%;
    margin-left: 47%;
}
    #myVideo_delrio_fullwidth_22 {
    	width:100%;
    }
  }
  
</style>

<div class="backgroundvideobanner_delrio">
  <div class="container-fluid">
    
    <video autoplay muted loop id="myVideo_delrio_fullwidth" class="d_none_set_banner_tab">
      <source src="{{ 'background-video-del-rio.mp4' | asset_url }}" type="video/mp4">
    </video>
    
    <video id="myVideo_delrio_fullwidth_22" class="d_none_set_banner" poster="{{ 'thumbnail_banner_image.png' | asset_url }}">
      <source src="{{ 'background-video-del-rio.mp4' | asset_url }}" type="video/mp4">
    </video>
    
    <div class="content_imagelogobuttonplaystop">
      
      <a href="javascript:void(0)" id="video_button_66"> 
        <img src="{{ 'video_btnplaybutton_banner.png' | asset_url }}" id="myBtn_playandstop_video" class="d_none_set_banner_tab" onclick="clickbuttonstopandplay()" data-toggle="modal" data-target="#exampleModall">
      </a>
      
      <a href="javascript:void(0)" id="video_button_66"> 
        <img src="{{ 'video_btnplaybutton_banner.png' | asset_url }}" id="myBtn_playandstop_video_22" class="di_nonemobileset" onclick="myFunction_newstop()">
      </a>
      
    </div>
  </div>
</div>

<!-- Modal -->

<div class="modal fade how_this_doit_del" id="exampleModall" tabindex="-1" role="dialog" aria-labelledby="exampleModallLabel" aria-hidden="true">
  <div class="modal-dialog login-modal-dialog-video" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close check_white_newdesign" id="checkout_close" data-dismiss="modal" aria-label="Close" onclick="clickbuttonstopandpause()">            
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div style="padding:56.25% 0 0 0;position:relative;">
          <iframe src="{{ section.settings.Video_Section }}" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
      </div>
    </div>
  </div>
</div>



<script>
  var video = document.getElementById("myVideo_delrio_fullwidth");
  var btn = document.getElementById("myBtn_playandstop_video");

  function clickbuttonstopandplay() {
    video.pause();
    btn.innerHTML = "Play";
  }
  function clickbuttonstopandpause() {
    video.play();
    btn.innerHTML = "pause";
  }
  jQuery(".modal.fade.how_this_doit_del").click(function(){
    video.play();
    btn.innerHTML = "pause";
  });


    if ( $(window).width() < 767) {     
      function myFunction_newstop() {
        if (document.getElementById("myVideo_delrio_fullwidth_22").paused) {
          document.getElementById("myVideo_delrio_fullwidth_22").play();
        }
        else {
          document.getElementById("myVideo_delrio_fullwidth_22").pause();
        }
      }
    }

  
</script>

{% schema %}
{
"name": "Video Section",
"settings": [
{
"id": "Video_Section",
"type": "url",
"label": "Enter video url"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
