<style>

  .jolee_section_1 {
    padding: 80px 0px 45px 0px;
  }
  .padding-top_60_jolee {
    padding-top:0px !important;
  }
  .jolee_section_1{
    padding-bottom:0px !important;
  }
  .jolee_header_text {
    /*     padding-top: 130px; */
    margin-left: 25px;
  }
  .col-lg-6.col-md-6.col-sm-12.padding-left_0_right {
    padding-right:0px;
    padding-left: 6px;
  }
  .row.col-sm-12padding-left_0_right {
    margin-right:0px;
  }
  @media screen and (min-width:1900px) {
    .jolee_header_text {
      /*     padding-top: 25% !important; */
      margin-left: 25px !important;
      width: 60% !important;
      margin: 0 auto !important;
      margin-right: 0px !important;
      padding-right: 70px !important;
      margin-left: 15% !important;
    }
  }
  @media screen and (min-width:1950px) {
    .jolee_header_text {
      width: 50% !important;
    }
  }
  @media screen and (max-width:1900px) {
    .jolee_header_text {
      /*     padding-top: 100px !important; */
      margin-left: 25px !important;
      width: 72% !important;
      margin: 0 auto !important;
      margin-right: 0px !important;
      padding-right: 70px !important;
    }
  }

  @media screen and (max-width: 1500px) {
    .jolee_header_text {
      width: 80% !important;
    }
  }

  @media screen and (max-width: 1380px) {
    .jolee_header_text {
      width: 95% !important;
    }
    .col-lg-6.col-md-6.col-sm-12.padding-left_0_right {
      padding-left: 3px;
    }
  }

  @media screen and (max-width: 1290px) {
    .jolee_header_text {
      width: 87% !important;
    }

  }
  @media screen and (max-width:1900px) and (min-width:1750px) {
    .jolee_header_text {
      width: 72% !important;
    }
  }
  @media screen and (min-width:2300px) {
    .jolee_header_text {
      width: 45% !important;

    }
  }
  @media screen and (max-width:991px) {
    .jolee_header_img img {
      width: 470px;
      padding-right: 30px !important;
    }
    .jolee_section_1 {
      padding-right:0px !important;
    }
    .jolee_header_text {
      width: 100% !important;
      /*     padding-top: 50px !important; */
    }  }
  @media screen and (max-width:850px) { 
    .Delightfully-easy-dr_jolee h1 {
      font-size: 54px;
    }
    .jolee_section_1 {
      padding-right:0px !important;
    }
  }
  @media screen and (max-width: 800px) {
    .Delightfully-easy-dr_jolee h1 {
      font-size: 47px;
    }
    .jolee_header_img img {
      width: 354px;
      padding-right: 0px !important;
    }

  }

  @media screen and (max-width:767px) {
    .jolee_header_text {
      width: 100% !important;
      padding-top: 50px !important;
      padding-right: 15px !important;
      text-align: center;
    }
    .jolee_header_text img {
      width: 180px;
      margin-bottom: 30px;
    }
    .col-lg-6.col-md-6.col-sm-12.padding-left_0_right {
      padding-right: 15px;
    }
    .jolee_section_1 {
      padding: 80px 45px 45px 45px;
    }
    .jolee_header_img {
      text-align:center;
      margin-bottom:30px;
    }
  }
  .section.section_fix .navbar.navbar-expand-lg.navbar-light {
    background-color: white !important;
  }
  @media screen and (max-width:2600px) {
    .jolee_header_img img {
      width: 100%;
    }
  }
  @media screen and (max-width:991px) {
      .jolee_section_1 {
          padding: 56px 9px 45px;
      }
    .make_display_center_jol {
    padding-left: 20px;
}
  }
  @media screen and (max-width: 767px) {
    .jolee_header_text {
      width: 60% !important;
      padding-top: 50px !important;
      padding-right: 0px !important;
      text-align: center;
      margin: 0 auto !important;
    }
  }
  @media screen and (max-width: 600px) {
    .jolee_header_text {
      width: 80% !important;
    }
  }
  @media screen and (max-width: 500px) {
    .jolee_header_text {
      width: 80% !important;
    }

    .jolee_section_1 {
      padding: 56px 15px 45px;
    }
  }

  @media screen and (max-width: 430px) {
    .Delightfully-easy-dr_jolee h1 {
      font-size: 33px;
    }
    .jolee_header_text {
      width: 100% !important;
    }
    .jolee_section_1 {
      padding: 56px 15px 45px;
    }
    .jolee_header_text img {
      width: 130px;
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: 350px) {
    .Delightfully-easy-dr_jolee h1 {
      font-size: 31px;
    }
  }
  .make_display_center_jol {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .jolee_header_text {
    height: auto;
  }
  @media screen and (min-width:767px) {
    #displaycenterflexcenterjoleesec1 {
      display:flex;
      align-items:center;
    }  
  }
  @media screen and (max-width: 1050px) {
    .header_img img.d_none_mble_del_del {
      width: 99% !important;
    }
  }

  @media screen and (max-width: 950px) {
    .header_img img.d_none_mble_del_del,.header_img img {
      width: 100% !important;
    }  
    .col-lg-6.col-md-6.col-sm-12.padding-left_0_right {
    padding-right: 0;
}
  }
</style>  

<!-- jolee section 1 -->

<div class="jolee_section_1">
  <div class="container-fluid">
    <div class="padding-top_60_jolee">
      <div class="row col-sm-12padding-left_0_right">
        <div class="col-lg-6 col-md-6 col-sm-12" id="displaycenterflexcenterjoleesec1">
          <div class="make_display_center_jol">
            <div class="jolee_header_text">
              <div>
                <img src="{{section.settings.jolee_brand_logo | img_url:'master'}}" alt="">
              </div>
              <div class="Delightfully-easy-dr_jolee">
                <h1>{{section.settings.jolee_sec1_heading}}</h1>
                <p>{{section.settings.jolee_sec1_desc}}</p>
                <a href="#jolee_sec1_button_url_00">{{section.settings.jolee_sec1_button_text}}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 padding-left_0_right">
          <div class="jolee_header_img" style="overflow: hidden;" scroll="no">
            <img src="{{section.settings.jolee_sec1_image | img_url:'master'}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  
{% schema %}
  {
    "name": "jolee first Section",
    "settings": [
      {
        "id": "jolee_brand_logo",
        "type": "image_picker",
        "label": "jolee logo"
      },
      {
        "id": "jolee_sec1_heading",
        "type": "text",
        "label": "Heading Text"
      },
      {
        "id": "jolee_sec1_desc",
        "type": "textarea",
        "label": "Description"
      },
      {
        "id": "jolee_sec1_button_text",
        "type": "text",
        "label": "button text"
      },
      {
        "id": "jolee_sec1_image",
        "type": "image_picker",
        "label": "Image"
      }
    ]
  }
{% endschema %}