<div class="perl_section_3">
  <div class="container">
    <h1 class="Wine-Club-Perks">{{section.settings.Rioclub_Sec3_heading}}</h1>

    <div class="padding-4_perk">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="perk_6_img">
            <div class="perk_6">
              <img src="{{section.settings.Rioclub_Sec3_Image1 | img_url:'grande' }}" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 centerfrscreenrioclubsec1">
          <div class="perk_6_text">
            <div class="perk_vip_text">
              <h1 class="VIP-invitation-to_perk">{{section.settings.Rioclub_Sec3_Text1}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="padding-4_perk">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 dispnay_perk_mbl">
          <div class="perk_6_img">
            <div class="perk_7">
              <img src="{{section.settings.Rioclub_Sec3_Image2 | img_url:'grande' }}" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12  centerfrscreenrioclubsec1">
          <div class="perk_6_text">
            <div class="perk_vip_text">
              <h1 class="VIP-invitation-to_perk  VIP-invitation-to_perk_99">{{section.settings.Rioclub_Sec3_Text2}}</h1>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 dispnay_perk_desktop">
          <div class="perk_6_img">
            <div class="perk_7">
              <img src="{{section.settings.Rioclub_Sec3_Image2 | img_url:'grande' }}" alt="">
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="padding-4_perk">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="perk_6_img">
            <div class="perk_6">
              <img src="{{section.settings.Rioclub_Sec3_Image3 | img_url:'grande' }}" alt="">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12  centerfrscreenrioclubsec1">
          <div class="perk_6_text">
            <div class="perk_vip_text">
              <h1 class="VIP-invitation-to_perk">{{section.settings.Rioclub_Sec3_Text3}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center shop_perk_23">
      <a href="#joinrio_club_the_pages" class="SHOP-WINES_continue_club_perk">{{section.settings.Rioclub_Sec3_Buttontext}}</a>
    </div>    
  </div>
</div>
{% schema %}
  {
    "name": " Rioclub-Third Section",
    "settings": [
       {
        "id":"Rioclub_Sec3_heading",
        "type":"text",
        "label":"Enter Heading"
      },{
        "id":"Rioclub_Sec3_Image1",
        "type":"image_picker",
        "label":"image"
        },
        {
        "id":"Rioclub_Sec3_Text1",
        "type":"textarea",
        "label":"Description"
        },
{
        "id":"Rioclub_Sec3_Image2",
        "type":"image_picker",
        "label":"image"
        },
        {
        "id":"Rioclub_Sec3_Text2",
        "type":"textarea",
        "label":"Description"
        },
{
        "id":"Rioclub_Sec3_Image3",
        "type":"image_picker",
        "label":"image"
        },
        {
        "id":"Rioclub_Sec3_Text3",
        "type":"textarea",
        "label":"Description"
        },
        {
        "id":"Rioclub_Sec3_Buttontext",
        "type":"text",
        "label":"Button Text"
        }
      
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
