<style>
  #product-url_1234 {
    text-align:center;
  }
  #product-url_1234 a img {
    width: 100%;
    height: 350px;
  }
  .abs_rp {
    top: 65%;
  } 
  @media screen and (max-width: 1200px) {
    .Strawberry_rp_icon {
      font-size: 12px;
    }
  }
  @media screen and (max-width: 1100px){
    #product-url_1234 a img {
      height: 290px;
    }
    img.rp_width_p100_89 {
      height: 314px;
    }
    .abs_rp {
      top: 59%;
    }

  }
  @media screen and (max-width: 1050px) {
    img.rp_width_p100_89 {
      height: 337px;
    }
    .abs_rp {
      top: 61%;
    }
  }
  @media screen and (max-width: 940px){
    #product-url_1234 a img {
      height: 290px;
      width: auto;
    }
    #product-url_1234 {
      text-align:center;
    }
    .abs_rp {
      top: 65%;
    }
  }
  @media screen and (max-width: 991px) {
    img.rp_width_p100_89 {
      height: 476px;
    }
    .abs_rp {
      top: 70%;
    }
  }
  @media screen and (max-width:800px) {


    .rp_width_100 img {
      width: 100%;
    }
  }
  @media screen and (max-width: 767px) {
    /* .abs_rp {
    top: 56%;
    left: 15%;
  }
    */
    .abs_rp {
      left: 16%;
      top: 71%;
    }
    .margin_rp_2019_z {
      width: 100%;
    }
    #carousel_rockpoint .owl-prev {
      left:6%;
    }
    .abs_rp {
      left: 20%;
    }
  }
  @media screen and (max-width: 550px) {
    .abs_rp {
      left: 21%;
      top: 70%;
    }
    .new-text{
    text-align:left;
  }
    .mobileview-new-text{
    font-size:17px !important;
    text-align:left;
  }
  }
  @media screen and (max-width: 450px) {
    .abs_rp {
      left: 9%;
      top: 70%;
      width: 83%;
    }
    .new-text{
    text-align:left;
  }
    .mobileview-new-text{
    font-size:17px !important;
    text-align:left;
  }
    
  }
  @media screen and (max-width: 350px) {
    .abs_rp {
      top: 64% !important;
    }
    img.rp_width_p100_89 {
      height: 350px;
    }
    .new-text{
    text-align:left;
  }
    .mobileview-new-text{
    font-size:17px !important;
    text-align:left;
  }
  }
  .ADD-TO-CART_rp {
    transition: 0.3s;  
  }
  .ADD-TO-CART_rp:hover {
    background-color:#1f3647;
    color:white;
  }
  a.add_wine_rp_22 {
    text-decoration:none;
  }
  .spr-badge-caption {
    font-family: Apercu Pro;
    font-size: 14px;
    line-height: 1.14;
    color: #00767c;
  }
  [class^="spr-icon-"]:before, [class*=" spr-icon-"]:before {
    font-size: 105% !important;
  }


  /* flip card css  */

  .flip-card {
    background-color: transparent;
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0s;
    transform-style: preserve-3d;
    animation: fadeIn ease 2s;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    visibility:visible;
    backface-visibility: hidden;
  }
  .d-flex.justify-content-center.reviews_badge_displ_none_back {
    background-color:white;
  }

  .flip-card-back {
    transform: rotateY(180deg);
    background-color: white;

  }
  .rp_section_2 { 
    height: 860px;
  }
  @media screen and (max-width:1100px) {
  .rp_section_2 {
    height: 1250px;
}
  }
  @media screen and (max-width:991px) {
    .flip-card-inner.flip-card-inn_4,.flip-card-inner.flip-card-inn_3 {
      top:600px;
    }
    .rp_section_2 {
      height: 1900px;
    }
  }
  @media screen and (max-width: 600px) {
    .rp_section_2 {
      height: 2740px;
    }
    .flip-card-inner.flip-card-inn_2 {
      top:600px;     
    }
    .flip-card-inner.flip-card-inn_3 {
      top:1200px;
    }
    .flip-card-inner.flip-card-inn_4 {
      top:1800px;
    }
    #displaynoneinmblebckside {
      display:none;
    }
    .flip-card:hover .flip-card-inner {
      transform: rotateY(0deg);
    }
    .A-relaxing-and-invit_rpr {
      padding: 0 5px;
    }
  }

  @media screen and (max-width: 350px) {
    .flip-card-inner.flip-card-inn_2 {
      top:500px;     
    }
    .flip-card-inner.flip-card-inn_3 {
      top:1000px;
    }
    .flip-card-inner.flip-card-inn_4 {
      top:1500px;
    }
  }
  a.link_productrockpointa {
    text-decoration:none;
  }
  

</style>  




<div class="rp_section_2">
  <div class="container">
    <div class="rp_our_wine">
      <h1>{{section.settings.Rockpoint_Sec3_heading}}</h1>
      <p>{{section.settings.Rockpoint_Sec3_text}} </p>
    </div>
    <style>
      .product_info_featurd_rock h1 {
        font-size: 30px;
        font-family: 'Apercu Pro';
        color: #296170;
      }
      .featured_rock_point_wine {
        width: 100%;
        margin: auto;
        margin-bottom:50px;
      }
      .mobileview-new-text{
    font-size:17px !important;
    font-weight: 600;
    font-family: 'Apercu Pro' !important;
    color: #296170 !important;
    margin: 0;
    margin-bottom: 5px;
  }
      .new-text{
    font-size: 21px !important;
    font-weight: 600;
    font-family: 'Apercu Pro' !important;
    color: #296170 !important;
    margin: 0;
    margin-bottom: 5px;
}

      .product_info_featurd_rock p {
        font-family: Apercu Pro;
        font-size: 18px;
        line-height: 1.4;
        color: #1f3647;
      }
      .product_info_featurd_rock_img img {
        height:500px;
      }
      .product_info_featurd_rock_img {
/*         background-color: #fcf9ef; */
        width: 100%;
        text-align: center;
      }
      .class_centeres {
        display: flex;
        display: -webkit-flex;        
        justify-content: flex-end;

      }
      .product_info_featurd_rock {
        height: 100%;
        display: flex;
        display: -webkit-flex;        
        align-items: center; 
/*         width:93%; */
      }
      .ADD-TO-CART_rp.margin_setteled {
        width: 52%;
/*         margin: auto; */
        margin-bottom: 20px;
      }
      .dp_mobile{
      display:none;
      }
          @media screen and (max-width:1100px) {
.product_info_featurd_rock_img img {
    height: 450px;
}
          .product_info_featurd_rock p {
        font-size: 14px;
      }
    .ADD-TO-CART_rp.margin_setteled {
    width: 300px;
    }
}
      @media screen and (max-width:991px) {
        .featured_rock_point_wine {
          width: 100%;
        }
        .product_info_featurd_rock h1 {
          font-size: 23px;
        }
            .ADD-TO-CART_rp.margin_setteled {
    	width:250px;
    }
      }
      @media screen and (max-width:767px) {
        .product_info_featurd_rock_img {
          width: 100%;
          text-align: center;
          margin-bottom:30px;
        }
        .product_info_featurd_rock{
          width:100%;
      }
        .dp_desktop{
          display:none;
      }
        .dp_mobile{
        display:block;
        }
        
        .ADD-TO-CART_rp.margin_setteled{
        	margin:auto;
        }
        .product_info_featurd_rock{
        text-align:center;
        }
      }
      @media screen and (max-width:600px) {
        .ADD-TO-CART_rp.margin_setteled {
          width: 84%;
          font-size:12px;
        }
        .ADD-TO-CART_rp {
          width: 100%;
        }
        .product_info_featurd_rock_img img {
    		height: 370px;
		}
      }
      .ADD-TO-CART_rp.i_del_ri_dev_2 {
	margin-top:-14px;
}
    </style>   

    
    <div class="row">
      {% for block in section.blocks %}
      <!--     flip card front side    -->      
      <div class="col-lg-3 col-md-6 col-sm-6 sm_opacity0_on_hover_1_{{forloop.index}}">
        <div class="flip-card">
          <div class="flip-card-inner flip-card-inn_{{forloop.index}}">
            <div class="flip-card-front">
              <a class="link_productrockpointa" style="cursor: pointer;" href="/products/{{block.settings.Rockpoint_Sec3_title_wineurl}}">
                <div class="rp_width_100">
                  <img class="rp_width_p100_89" src="{{block.settings.Rockpoint_Sec3_wineimage | img_url:'master' }}" alt="bottel">
                </div>
              </a>

              <div class="abs_rp">
                <!--       Cart Button          -->
                {% assign product = all_products[all_products[block.settings.Rockpoint_Sec3_title_wineurl].handle] %}
                <a href="javascript:void(0)" 
                   data-product-id="{{block.settings.product_id_from_product}}"
                   class="add-to-cart-custom add-to-cart-blur"
                   >
                  <p class="ADD-TO-CART_rp i_del_ri_dev_{{ forloop.index }}">
                    {% if product.available %} ADD TO CART - {{ product.price | money }}  {% else %} SOLD OUT {% endif %}
                  </p>
                </a>
                {% comment %}
                {% include 'products-modal-cart', product %}
                {% endcomment %}
              </div>
              <div class="padding_rp">
                <a class="link_productrockpointa" style="cursor: pointer;" href="/products/{{block.settings.Rockpoint_Sec3_title_wineurl}}">
                  <p class="Chardonnay_rp">{{block.settings.Rockpoint_Sec3_winename}}</p>
                </a>   
                <p class="Bright-Elegant_rp">{{block.settings.Rockpoint_Sec3_winetaste}}</p>
                <div class="d-flex justify-content-center reviews_badge_displ_none_back">
<!--                   <span class="shopify-product-reviews-badge" data-id="{{block.settings.product_id_from_product}}"></span> -->
                </div>
              </div>
            </div>
            <!--     flip card back side    -->
            <a class="link_productrockpointa" id="displaynoneinmblebckside" style="cursor: pointer;" href="/products/{{block.settings.Rockpoint_Sec3_title_wineurl}}">
              <div class="flip-card-back flip-card-back_{{forloop.index}}">
                <div class="rp_ss_end bg_rp_rating" style="background-image: linear-gradient(to bottom, rgba(235, 245, 246, 0.8), rgba(235, 245, 246, 0.8)), url({{block.settings.Rockpoint_Sec3_wineimage | img_url:'master' }});">
                  <p class="Primary-Flavors_rp text-left">Primary Flavors</p>
                  <div class="d-flex padd_4p_rp justify-content-between">
                    <div>
                      <img src="{{ block.settings.Rockpoint_Sec3_flavor_1_image | img_url:'master' }}" alt="">
                      <span class="Strawberry_rp_icon">{{block.settings.Rockpoint_Sec3_flavor_1_text}}</span>
                    </div>
                    <div>
                      <img src="{{ block.settings.Rockpoint_Sec3_flavor_2_image | img_url:'master' }}" alt="">
                      <span class="Strawberry_rp_icon">{{block.settings.Rockpoint_Sec3_flavor_2_text}}</span>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <img src="{{ block.settings.Rockpoint_Sec3_flavor_3_image | img_url:'master' }}" alt="">
                      <span class="Strawberry_rp_icon">{{block.settings.Rockpoint_Sec3_flavor_3_text}}</span>
                    </div>
                    <div class="margin_25_rp_rgt">
                      <img src="{{ block.settings.Rockpoint_Sec3_flavor_4_image | img_url:'master' }}" alt="">
                      <span class="Strawberry_rp_icon">{{block.settings.Rockpoint_Sec3_flavor_4_text}}</span>
                    </div>
                  </div>
                  <p class="Primary-Flavors_rp  text-left">Taste Profile</p>
                  <div class="d-flex  justify-content-between Light-Body_acidity">
                    <span>Dry</span>
                    <span>Sweet</span>
                  </div>
                  <div class="rp_middle">
                    <div class="bar-container_rp">
                      <div style="width:{{block.settings.sec_4_rock_form_dry_to_sweet}}0%" class="bar-4_rp"></div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between Light-Body_acidity">
                    <span>Light Body</span>
                    <span>Full Body</span>
                  </div>
                  <div class="rp_middle">
                    <div class="bar-container_rp">
                      <div style="width:{{block.settings.sec_4_rock_form_LightBody_to_fullbody}}0%" class="bar-4_rp_2"></div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between Light-Body_acidity">
                    <span>Low Tannins</span>
                    <span>High Tannins</span>
                  </div>
                  <div class="rp_middle">
                    <div class="bar-container_rp">
                      <div style="width:{{block.settings.sec_4_rock_form_LowTannins_to_highTannins}}0%" class="bar-4_rp_3"></div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between Light-Body_acidity">
                    <span>Low Acidity</span>
                    <span>High Acidity</span>
                  </div>
                  <div class="rp_middle">
                    <div class="bar-container_rp">
                      <div style="width:{{block.settings.sec_4_rock_form_Low_Acidity_to_highAcidity}}0%" class="bar-4_rp_4"></div>
                    </div>
                  </div>
                  <p class="ABV-137_rp text-left">ABV {{block.settings.sec_4_rock_abv_percentage}}%</p>
                  <!--       Cart Button          -->              
                  <a href="javascript:void(0)" 
                     data-product-id="{{block.settings.product_id_from_product}}"
                     class="add-to-cart-custom add-to-cart-blur"
                     >
                    <p class="ADD-TO-CART_rp">
                      {% if product.available %} ADD TO CART - {{ product.price | money }}  {% else %} SOLD OUT {% endif %}
                    </p>
                  </a>
                  {% include 'products-modal-cart', product %}
                </div>
                <div class="padding_rp">
                  <a class="link_productrockpointa" style="cursor: pointer;" href="/products/{{block.settings.Rockpoint_Sec3_title_wineurl}}">
                    <p class="Chardonnay_rp">{{block.settings.Rockpoint_Sec3_winename}}</p>
                  </a>   
                  <p class="Bright-Elegant_rp">{{block.settings.Rockpoint_Sec3_winetaste}}</p>
                  <div class="d-flex justify-content-center reviews_badge_displ_none_back">
<!-- 					<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span> -->
<!--                     <span class="shopify-product-reviews-badge" data-id="{{block.settings.product_id_from_product}}"></span> -->
                  </div>
                </div>
              </div>

            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

 
{% stylesheet %}

 #carousel_shop_all23 img {
    width: auto;
    display: inherit;
}
  #carousel_shop_all24 {
   max-width:100%;
  }
   .owl-prev {
    left: -3%; 
    }
  .owl-next {
    right: -3%; 
    }
  .owl-prev,.owl-next {
    position: absolute;
    top: 40%;  
  }
  .fa.fa-angle-left,.fa.fa-angle-right {
     font-size:44px;
     font-weight:800;  
  }
  
  @media screen and (max-width:500px) {
   .owl-prev {
    left: 4%; 
    }
  .owl-next {
    right: 4%; 
    }
  }

{% endstylesheet %}

{% javascript %}

    jQuery(document).ready(function () {
      jQuery('#carousel_shop_all23').owlCarousel({
        item: 4,
        loop: false,
        nav: true,
        navText: [
          "<span><i class='fa fa-angle-left'></i></span>",
          "<span><i class='fa fa-angle-right'></i></span>"
        ],
        autoplay: false,
        autoplayHoverPause: false,
        dots: false,
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 2
          },
          1000: {
            items: 4
          }
        }
      })
    });


 jQuery('.product-url').on('click',function(e){
	e.preventDefault();
	var productURL = jQuery(this).attr('data-product-url');
	window.location.href = productURL;
	e.stopPropagation();
});				

  jQuery('.add-to-cart-custom').on('click', function(e){
    e.preventDefault();
    var productID = jQuery(this).attr('data-product-id');
    jQuery('#product_form_'+productID).find('button').click();
  });

	var link = jQuery(".link_productrockpointa").attr("href");
    if ( link == "/products/" ) {
         jQuery(".link_productrockpointa").attr('href','javascript:void(0)');
	}  
console.log(link);


 jQuery('.product-url').on('click',function(e){
	e.preventDefault();
	e.stopPropagation();
});			

{% endjavascript %}

{% schema %}
  {
    "name": " Rockpoint-Third Section",
    "settings": [
      {
        "id":"Rockpoint_Sec3_heading",
        "type":"text",
        "label":"Enter Heading"
      },
      {
        "id":"Rockpoint_Sec3_text",
        "type":"textarea",
        "label":" Enter Description"
      },
      {
        "id":"Rockpoint_Sec3_featured",
        "type":"text",
        "label":"Enter Featured Product Handle"
      }
],
  "blocks": [
    {
      "type": "select",
      "name": "Wine",
      "settings": [
        {
        "id":"Rockpoint_Sec3_wineimage",
        "type":"image_picker",
        "label":"image"
        },
        {
        "id":"Rockpoint_Sec3_winename",
        "type":"text",
        "label":"Enter Wine Name"
        },
        {
        "id":"Rockpoint_Sec3_title_wineurl",
        "type":"product",
        "label":"Product Url"
        },
        {
        "id":"product_id_from_product",
        "type":"text",
        "label":"Id of choosed product For Reviews"
        },
        {
        "id":"Rockpoint_Sec3_winetaste",
        "type":"text",
        "label":"Enter Wine Taste"
        },
      {
        "type":"header",
        "content":"Primary Flavors Section"
      },
      {
        "id":"Rockpoint_Sec3_flavor_1_image",
        "type":"image_picker",
        "label":" Image 1"
      },
      {
        "id":"Rockpoint_Sec3_flavor_1_text",
        "type":"text",
        "label":" Flavor Text 1"
      },
      {
        "id":"Rockpoint_Sec3_flavor_2_image",
        "type":"image_picker",
        "label":" Image 2"
      },
      {
        "id":"Rockpoint_Sec3_flavor_2_text",
        "type":"text",
        "label":" Flavor Text 2"
      },
      {
        "id":"Rockpoint_Sec3_flavor_3_image",
        "type":"image_picker",
        "label":" Image 3"
      },
      {
        "id":"Rockpoint_Sec3_flavor_3_text",
        "type":"text",
        "label":" Flavor Text 3"
      },
      {
        "id":"Rockpoint_Sec3_flavor_4_image",
        "type":"image_picker",
        "label":" Image 4"
      },
      {
        "id":"Rockpoint_Sec3_flavor_4_text",
        "type":"text",
        "label":" Flavor Text 4"
      },
      {
        "type":"header",
        "content":"Taste Profile Section"
      },
      {
        "type": "range",
        "id": "sec_4_rock_form_dry_to_sweet",
        "min": 0,
        "max": 10,
        "step": 1,
        "label": "From Dry to Sweet",
        "default": 3
      },
      {
        "type": "range",
        "id": "sec_4_rock_form_LightBody_to_fullbody",
        "min": 0,
        "max": 10,
        "step": 1,
        "label": "From Light Body to Full Body",
        "default": 5
      },
      {
        "type": "range",
        "id": "sec_4_rock_form_LowTannins_to_highTannins",
        "min": 0,
        "max": 10,
        "step": 1,
        "label": "From Low Tannins to High Tannins",
        "default": 7
      },
      {
        "type": "range",
        "id": "sec_4_rock_form_Low_Acidity_to_highAcidity",
        "min": 0,
        "max": 10,
        "step": 1,
        "label": "From Low Acidity to High Acidity",
        "default": 6
      },
      {
        "id": "sec_4_rock_abv_percentage",
        "type": "number",       
		"label": "ABV Percentage"
      }
     ]
	}
   ]
  }
{% endschema %}