<style>
  .rp_section {
    background-color: #dbe7e9 !important;
    background: url();
    padding-top: 80px;
  }
  .img_heas img {
    left: 61px !important;
    width: 553px;
  }
  .rp_header_text {
/*     padding-top: 115px; */
    width: 85%;
    margin-left: 23px;
    overflow: hidden; 
  }
  .rp_LEARN-MORE {
    margin-top: 20px;
  }
  @media screen and (min-width:2000px) {
    .rp_header_text {
      width: 60%;
    }
  }
  @media screen and (min-width: 1900px) {
    .rp_header_text {
      width: 70%;
      margin: 0 auto;
      margin-right: 0px;
      padding-right: 50px;
      margin-left:15%;
/*       padding-top: 25%; */
    }
  }
  @media screen and (min-width: 2200px) {
.rp_header_text {
    width: 55%;
}
  }
  @media screen and (max-width:2600px) {
    .img_heas img {
      left: 0 !important;
      width: 1261px;
    }
    .rp_section {
      padding-bottom: 0px;
      padding-right: 0px;
    }
    .row.container-fluid_789654 {
      margin-right:0px;
    }
  }

  @media screen and (max-width:2440px) {
    .img_heas img {
      width: 1201px;
    }
    .rp_section {
      padding-bottom: 0px;
      padding-right: 0px;
    }
  }
  @media screen and (max-width:2350px) {
    .img_heas img {
      width: 1151px;
    }
  }
  @media screen and (max-width: 2150px) {
    .img_heas img {
      width: 1041px;
    }
  }
  @media screen and (max-width: 2000px) {
    .img_heas img {
      width: 971px;
    }
  }
  @media screen and (max-width: 1950px) {
    .img_heas img {
      width: 945px;
    }
  }
  @media screen and (max-width: 1500px) {
    .img_heas img {
      width: 687px !important;
    }
  }
  @media screen and (max-width: 1450px) {
    .img_heas img {
      width: 692px !important;
    }
  }
  @media screen and (max-width: 1340px) {
    .img_heas img {
      width: 633px !important;;
    }
  }
  @media screen and (max-width: 1300px) {
    .img_heas img {
      width: 598px !important;;
    }
  }
  @media screen and (max-width: 1300px) {
    .rp_section {
      padding-top: 80px !important;;
    }
  }
  @media screen and (max-width: 991px) {
    .img_heas img {
      width: 462px !important;
    }
    .rp_section {
      padding-top: 56px !important;;
    }
  }

  @media screen and (max-width: 900px) {
    .img_heas img {
      width: 408px !important;
    }
  }
  @media screen and (max-width: 800px) {  
    .img_heas img {
      width: 358px !important;
    }
  }
  @media screen and (max-width:767px) {
    .rp_header_text {
      width: 50%;
      text-align: center;
      margin: 0 auto;
    }
    .rp_LEARN-MORE {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    .header_img.img_heas {
      text-align:center;
      margin-bottom:30px;
    }
    .Created-for-adventur {
    font-size: 28px;
    width: 100%;
	}
    .With-every-bottle-of {
    margin: auto;
	}
    .rp_LEARN-MORE {
    margin-top: 15px;
	}
    .rp_header_tex_flex {
    padding-top: 50px;
    }
  }
  @media screen and (max-width: 550px) {
    .img_heas img {
      width: 327px;
      position: unset;
    }
    .img_heas {
      margin-top: 10px;
      text-align: center;
      margin-bottom:30px;
    }
    .rp_header_text {
      width: 80%;
    }
    .rp_LEARN-MORE {
      margin-top: 30px;
    }
    .rp_section {
      padding-right: 15px;
      padding-left: 15px;
    }
    .container_anti {
      padding-right: 15px;
      padding-left: 15px;
    }
    .row.container-fluid_789654 {
      margin-left: -15px;
      margin-right: -15px;
    }
    .owl-prev, .owl-next {
      position: absolute;
      top: 40%;
      right: 0;
    }
    .owl-prev {
      left:0px;
    }
  }
  @media screen and (max-width: 450px) {
    .rp_header_text {
      width: 100%;
    }
  }
  .rp_header_tex_flex {
    height: 100%;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width:767px) {
    #rockpointheightfixation {
      display:flex;
      align-items:center;
    }
  }
</style>  

<div class="rp_section">
  <div class="container-fluid">
    <div class="row container-fluid_789654">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="rockpointheightfixation">
        <div class="rp_header_tex_flex">
        <div class="rp_header_text" style="overflow:hidden;" scroll="no">
          <img src="{{'RP_logo1.png'| asset_url }}" alt="RP_logo1">
          <h1 class="A-new-layer-of-compl Created-for-adventur">{{section.settings.Section1_heading}}</h1>
          <p class="With-every-bottle-of With-every-bottle-of">{{section.settings.Section1_text}}</p>
          <a href="/collections/rock-point"><p class="LEARN-MORE rp_LEARN-MORE">{{section.settings.Section1_linktext}}</p></a>
        </div>
        </div>
      </div>

      <div class="col-lg-6 container_anti col-md-6 col-sm-12 col-xs-12">

        <!--             <img class="rp_img_3" src="{{'RP_img3.png' | asset_url }}" alt=""> -->
        <div class="header_img img_heas" style="overflow:hidden;" scroll="no">
          <img  style="overflow:hidden;" scroll="no" src="{{section.settings.Image_Section_1 | img_url:'master' }}" alt="leon_circle11">
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
"name": " Rockpoint-First Section",
"settings": [
{
"id": "Section1_heading",
"type": "text",
"label": "Heading",
"default": "Title"
},
{
"id": "Section1_text",
"type": "textarea",
"label": "Add Description",
"default": "Enter text here"
},
{
"id": "Image_Section_1",
"type": "image_picker",
"label": "Section 1 image"

},
{
"id": "Section1_linktext",
"type": "text",
"label": "Button text",
"default": "Explore All Wines"
}

]
}
{% endschema %}



{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
