<style>
  a.text_none_for_trade:hover {
    text-decoration:none;
    color:black;    
  }
  #lightbox.modal {
    padding: 0px !important;
  }
  @media (min-width: 768px) {
    .modal-dialog {
      margin: 100px auto;
    }
  }
  .modal-body img {
    width: 360px;
    height: 360px;  
  }
  .modal-body {
    text-align: center;
  }
  .section-main-header .ovrly-content p,span.download_345 {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  .section-main-header .ovrly-content p i,span.download_345 {
    padding: 0 10px;
  }  
  p.factsheet_linking a:hover {
    text-decoration:none;
    color: #000000;
  }
  .label_to_download{
  cursor:pointer;
  }
  
</style>  

<section class="section-main-header animatioN-on_scroll_margin_top" id="delrio">
  <div class="mycontainer container">
    <div class="row logo-container">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <img src="{{ section.settings.Section_3_image | img_url:'master' }}{{'logo1.webp' | asset_url }}">
      </div>
    </div>
    <div class="row content-box">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h4> {{section.settings.Section_3_title}}</h4>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 btn-box">
        <div class="download-btn">
          <div class="row p-0 download_bg_image_js1" style="cursor:pointer;" data-ts-image="{{ section.settings.Section_3_desc_zip_file | file_url }}">
            <div class="col-3" style="text-align:right;"  ><i class="fa fa-download"></i></div>
            <div class="col-9 "><p class="m-0 drage_kit_sm">Del Rio Trade & Media Kit<br><span id="getdatasize1"></span></div>
          </div>
        </div>
      </div>
    </div> 
    <div class="row pt-0">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="section-text"><p class="dedicated_traade_kit">{{section.settings.Section_3_desc}} Just give us a call at <a class="text_none_for_trade" href="tel:{{section.settings.mobile_num_3}}">{{section.settings.mobile_num_3}}</a> or email <a class="text_none_for_trade" href="mailto:{{section.settings.Section_3_email}}">{{section.settings.Section_3_email}}</a></p></div>	
        <h4>Del Rio Photos</h4>
        <div class="row pt-0 m-0">
          <div class="col-lg-3 col-md-6 col-sm-6 col-6 img-container" style="background: url({{'11.png' | asset_url  }});">
            <div class="ovrly-content">
              <div class="d-flex">
                <span data-ts-image="{{'11.png' | asset_url  }}" class="download_345 download_bg_image_js89"><i class="fa fa-download"></i></span>
                <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox">
                  <img class="d-none" width="100%" src="{{'11.png' | asset_url  }}" alt="...">
                  <p class="m-0"><span class="overlay"><i class="fa fa-eye" aria-hidden="true"></i></span></p>
                </a>    
              </div>
            </div>
          </div>                    

          <div class="modal fade" id="lightbox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog login-modal-dialog-video" role="document">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <button type="button" class="close" id="checkout_close" data-dismiss="modal" aria-label="Close">            
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mx-3">
                  <div style="padding:56.25% 0 0 0;position:relative;">
                    <img  style="position:absolute;top:0;left:10%;width:80%;height:100%;" frameborder="0" allow="autoplay; fullscreen" src="{{'11.png' | asset_url  }}"/>
                  </div> 
                </div>
              </div>
            </div>
          </div> 

          
          

          <div class="col-lg-3 col-md-6 col-sm-6 col-6 img-container" style="background: url({{'22.png' | asset_url  }});">
            <div class="ovrly-content">
              <div class="d-flex">
                <span data-ts-image="{{'22.png' | asset_url  }}" class="download_345 download_bg_image_js89 "><i class="fa fa-download"></i></span>
                <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox1">
                  <img class="d-none" width="100%" src="{{'22.png' | asset_url  }}" alt="...">
                  <p class="m-0"><span class="overlay"><i class="fa fa-eye" aria-hidden="true"></i></span></p>
                </a>    
              </div>
            </div>
          </div>  

          
          <div class="modal fade" id="lightbox1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog login-modal-dialog-video" role="document">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <button type="button" class="close" id="checkout_close" data-dismiss="modal" aria-label="Close">            
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mx-3">
                  <div style="padding:56.25% 0 0 0;position:relative;">
                    <img  style="position:absolute;top:0;left:10%;width:80%;height:100%;" frameborder="0" allow="autoplay; fullscreen" src="{{'22.png' | asset_url  }}"/>
                  </div> 
                </div>
              </div>
            </div>
          </div> 


          <div class="col-lg-3 col-md-6 col-sm-6 col-6 img-container" style="background: url({{'33.png' | asset_url  }});">
            <div class="ovrly-content">
              <div class="d-flex">
                <span  data-ts-image="{{'33.png' | asset_url  }}" class="download_345 download_bg_image_js89"><i class="fa fa-download"></i></span>
                <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox2">
                  <img class="d-none" width="100%" src="{{'33.png' | asset_url  }}" alt="...">
                  <p class="m-0"><span class="overlay"><i class="fa fa-eye" aria-hidden="true"></i></span></p>
                </a>    
              </div>
            </div>
          </div>  


         <div class="modal fade" id="lightbox2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog login-modal-dialog-video" role="document">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <button type="button" class="close" id="checkout_close" data-dismiss="modal" aria-label="Close">            
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mx-3">
                  <div style="padding:56.25% 0 0 0;position:relative;">
                    <img  style="position:absolute;top:0;left:10%;width:80%;height:100%;" frameborder="0" allow="autoplay; fullscreen" src="{{'33.png' | asset_url  }}"/>
                  </div> 
                </div>
              </div>
            </div>
          </div> 


          <div class="col-lg-3 col-md-6 col-sm-6 col-6 img-container" style="background: url({{'11.png' | asset_url  }});">
            <div class="ovrly-content">
              <div class="d-flex">
                <span  data-ts-image="{{'11.png' | asset_url  }}" class="download_345 download_bg_image_js89"><i class="fa fa-download"></i></span>
                <a href="#" class="zoom" data-toggle="modal" data-target="#lightbox3">
                  <img class="d-none" width="100%" src="{{'11.png' | asset_url  }}" alt="...">
                  <p class="m-0"><span class="overlay"><i class="fa fa-eye" aria-hidden="true"></i></span></p>
                </a>    
              </div>
            </div>
          </div>  
        
         <div class="modal fade" id="lightbox3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog login-modal-dialog-video" role="document">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <button type="button" class="close" id="checkout_close" data-dismiss="modal" aria-label="Close">            
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mx-3">
                  <div style="padding:56.25% 0 0 0;position:relative;">
                    <img  style="position:absolute;top:0;left:10%;width:80%;height:100%;" frameborder="0" allow="autoplay; fullscreen" src="{{'11.png' | asset_url  }}"/>
                  </div> 
                </div>
              </div>
            </div>
          </div> 


        <h4>Current Releases</h4>

        <div class="row pt-0 zero_bot_pad_trade">
          {% for block in section.blocks %} 
          <div class="col-lg-4 col-md-6 col-sm-6 col-12 text-center">
            <div class="product-wrapper">
              <img style="width:68px; height:256px;" src="{{block.settings.trade_image_wine_selection_releases | img_url:'master'}}">
            </div>
            <div class="product-info Factsheet-Shelftalke_trade">
              <h5>{{block.settings.trade_image_wine_product_title}}</h5>
              <p class="factsheet_linking"><a href="{{ block.settings.Info_Title_1_link }}" target="_blank">{{block.settings.Info_Title_1}}</a> <br>
                <a href="{{ block.settings.Info_Title_2_link }}" target="_blank">{{block.settings.Info_Title_2}}</a>    
                {% if block.settings.Info_Title_3 != blank  %}
                <br>
                <a href="{{ block.settings.Info_Title_3_link | img_url:'master' }}" target="_blank">{{block.settings.Info_Title_3}}</a>    
                {% endif %}
                {% if block.settings.Info_Title_3_link != blank %}
                <br>
                <a href="{{ block.settings.Info_Title_4_link }}" target="_blank">{{block.settings.Info_Title_4}}</a>    
                {% else %}
                {% endif %}
                {% if block.settings.Info_Title_4_link != blank %}  
                <br>
                <a href="{{ block.settings.Info_Title_5_link }}" target="_blank">{{block.settings.Info_Title_5}}</a>
                {% else %}
              {% endif %}
<!--                <a href="{{ block.settings.Info_Title_5_link_id }}" target="_blank">Label</a>     -->
               {% if block.settings.Info_Title_5_link_id != blank %}
                <span data-ts-image="{{ block.settings.Info_Title_5_link_id }}" class="download_bg_image_js89 label_to_download">Label</span>
                {% else %}
              {% endif %}
              </p>


               
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </section>



  {% schema %}
  {
  "name": "Trade Third Section",
  "settings": [
  {
  "id": "Section_3_image",
  "type": "image_picker",
  "label": "Image"
  },
  {
  "id": "Section_3_title",
  "type": "text",
  "label": "Title"
  },
  {
  "id": "Section_3_desc_zip_file",
  "type": "text",
  "label": "Enter Zip File name"
  },
  {
  "id": "Section_3_desc",
  "type": "textarea",
  "label": "Description"
  },
  {
  "id": "Section_3_email",
  "type": "text",
  "label": "Email"
  },
  {
  "id": "mobile_num_3",
  "type": "text",
  "label": "Contact Number"
  }
  ],
  "blocks": [
  {
  "type": "select",
  "name": "Del rio Releases",
  "settings": [
  {
  "id": "trade_image_wine_selection_releases",
  "type": "image_picker",
  "label": "Product Image"
  },
  {
  "id": "trade_image_wine_product_title",
  "type": "text",
  "label": "Product Title"
  },
  {
  "id": "Info_Title_1",
  "type": "text",
  "label": "Info 1 Title"
  },
  {
  "id": "Info_Title_1_link",
  "type": "url",
  "label": "Add info from files"
  },
  {
  "id": "Info_Title_2",
  "type": "text",
  "label": "Info 2 Title"
  },
  {
  "id": "Info_Title_2_link",
  "type": "url",
  "label": "Add info from files"
  },
  {
  "id": "Info_Title_3",
  "type": "text",
  "label": "Info 3 Title"
  },
  {
  "id": "Info_Title_3_link",
  "type": "image_picker",
  "label": "Add info from asset"
  },
  {
  "id": "Info_Title_4",
  "type": "text",
  "label": "Info 4 Title"
  },
  {
  "id": "Info_Title_4_link",
  "type": "url",
  "label": "Add info from files"
  },
  {
  "id": "Info_Title_5",
  "type": "text",
  "label": "Info 5 Title"
  },
  {
  "id": "Info_Title_5_link",
  "type": "url",
  "label": "Add info from files"
  },
    {
  "id": "Info_Title_5_link_id",
  "type": "url",
  "label": "Enter Label Link"
  }
    
  ]
  }
  ]
  }
  {% endschema %}


  {{ 'jquery-3.5.1.min.js' | asset_url | script_tag }}  
  <script>
    $( ".download_bg_image_js1" ).click(function() {        
      var imageForDownload = $(this).data("ts-image");
      new jsFileDownloader({ url: imageForDownload });      
    });
    $( ".download_bg_image_js89" ).click(function() {        
      var imageForDownload = $(this).data("ts-image");
      new jsFileDownloader({ url: imageForDownload });      
    });

    //    get file size through XML

    var xhr = new XMLHttpRequest();
    xhr.open("GET", "{{ section.settings.Section_3_desc_zip_file | file_url }}", true);
    xhr.responseType = "arraybuffer";
    xhr.onreadystatechange = function() {
      // getdatasize   
      let responsedata = this.response.byteLength;
      let response_21 = responsedata/(1024*1024);
      let response_2000 = response_21.toFixed(3);
      $("#getdatasize1").html(response_2000 + " MB ");
      // console.log(responsedata);
    };
    xhr.send(null);
  </script>
