<div class="vintners_s_section_3">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="meticulously_text_ss_vintners">
          <h1>{{section.settings.vintner_pag_heading_sec_3}}</h1>
          <p class="Del-Rio-Vineyards-is_vintners">{{section.settings.vintner_pag_desc_sec_3}}</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">

        <div class="Charley_Thomas_bottling_managaer_vintners">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="vin_about_bottlers_vintners text-center">
                <div class="img_up_vintners_1">
                  <img src="{{'Charley.jpg' | asset_url }}" alt="">
                </div>
                <div class="text_down_vintners_1">
                  <p>Charley Thomas</p>
                  <p class="cellular_vintners">Cellar Hand & Bottling Manager</p>
                </div>
              </div>
            </div>
<!--             <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="vin_about_bottlers_vintners text-center">
                <div class="img_up_vintners_1">
                  <img src="{{'samuel.jpg' | asset_url }}" alt="">
                </div>
                <div class="text_down_vintners_1">
                  <p>Samuel Meyer</p>
                  <p class="cellular_vintners">Assistant Wine Maker</p>
                </div>
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </div>

    <div class="Charley_Thomas_bottling_managaer_vintners">
      <div class="row" style="justify-content: flex-end;">
<!--         <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="vin_about_bottlers_vintners text-center">
            <div class="img_up_vintners_1">
              <img src="{{'Charley.jpg' | asset_url }}" alt="">
            </div>
            <div class="text_down_vintners_1">
              <p>Charley Thomas</p>
              <p class="cellular_vintners">Cellar Hand & Bottling Manager</p>
            </div>
          </div>
        </div> -->
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="vin_about_bottlers_vintners text-center">
            <div class="img_up_vintners_1">
              <img src="{{'carlos.jpg' | asset_url }}" alt="">
            </div>
            <div class="text_down_vintners_1">
              <p>Carlos Camacho</p>
              <p class="cellular_vintners">Cellar Hand</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="vin_about_bottlers_vintners text-center">
            <div class="img_up_vintners_1">
              <img src="{{'eric.jpg' | asset_url }}" alt="">
            </div>
            <div class="text_down_vintners_1">
              <p>Eric Jimenez</p>
              <p class="cellular_vintners">Cellar Hand</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>


<div class="vintners_s_section__end_line">
  <div class="container-fluid">
    <hr class="line_vintners">
  </div>
</div>





{% schema %}
  {
    "name": "Vintner Third Section",
    "settings": [
     {
      "id": "vintner_pag_heading_sec_3",
      "type": "textarea",
      "label": "Heading"
      },
     {
      "id": "vintner_pag_desc_sec_3",
      "type": "textarea",
      "label": "Description"
      }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
