<div class="tour_section_6 animatioN-on_scroll_margin_top" id="eventsandclubs">
    <div class="container">
            <div class="row border_tour_sec_7">
                <div class="col-lg-6 col-md-6 col-sm-12 border_007">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 border_007">
                    <div class="lady_wine_img_blonde">
                        <img class="ss_abso_center_tour" src="{{section.settings.visitpage_sec6_Img_badge | img_url:'master' }}" alt="">
                        <div class="testing_room_6_png11">
                          <img class="blonde_winr_tast" src="{{section.settings.visitpage_sec6_Img | img_url:'master' }}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 padd_0_tour">
                    <div class="Upcoming-Events-at-D_tour1">
                        <h1>{{section.settings.visitpage_sec6_event_heading}}</h1>
                        <div class="Upcoming-Events-at-D_tour d_flex_used_tour d-flex align-items-baseline">
                            <div class="bf_graditour">
                                <p class="JUL_tour">{{section.settings.visitpage_sec6_event_month}}</p>
                                <h1 class="text-center">{{section.settings.visitpage_sec6_event_date}}</h1>
                            </div>
                            <div class="bold_under_star_tour">
                                <p>{{section.settings.visitpage_sec6_event_type}}</p>
                                <p class="th-annual-winemake_tour">{{section.settings.visitpage_sec6_event_annual}}</p>
                                <p class="Join-the-Del-Rio-tea_tours">{{section.settings.visitpage_sec6_event_decription}}</p>
                                <div class="d-flex align-items-center so_me_tour">
                                   <a href="{{section.settings.visitpage_sec6_url_sold_out}}"><p class="sold_out_tours">{{section.settings.visitpage_sec6_event_sold_out}}</p></a> 
                                   <a href="#"><p><i class="fa fa-upload" aria-hidden="true"></i></p></a> 
                                   <a href="{{section.settings.visitpage_sec6_JOIN_LIST}}"><p class="Join-our-waiting-lis_tour">Join our waiting list</p></a> 
                                </div>
                            </div>
                        </div>


                        <div class="d_flex_used_tour d-flex align-items-baseline Upcoming-Events-at-D_tour">
                            <div class="bf_graditour">
                                <p class="JUL_tour">{{section.settings.visitpage_sec6_event_month1}}</p>
                                <h1 class="text-center">{{section.settings.visitpage_sec6_event_date1}}</h1>
                            </div>
                            <div class="bold_under_star_tour">
                                <p>{{visitpage_sec6_event_type1}}</p>
                                <p class="th-annual-winemake_tour">{{section.settings.visitpage_sec6_event_annual1}}</p>
                                <p class="Join-the-Del-Rio-tea_tours">{{section.settings.visitpage_sec6_event_decription1}}</p>
                                <div class="d-flex align-items-center so_me_tour">
                                    <a href="{{section.settings.visitpage_sec6_url_ticket_url}}"> <div class="book_a_tour_20 LEARN-MORE_apercu_tour1 top_mar_33_tour1">{{section.settings.visitpage_sec6_event_ticket1}}</div></a>
                                    <a href="#"><p><i class="fa fa-upload" aria-hidden="true"></i></p></a> 
                                </div>
                            </div>
                        </div>
                        <div class="Sunday-Slowdowns-S d_flex_used_tour">
                            <p>{{section.settings.visitpage_sec6_announcement}}</p>
                            <p>{{section.settings.visitpage_sec6_announcement_desc}}</p>

                            <p class="Due-to-COVID-19-we-a_tourr">{{section.settings.visitpage_sec6_pendamic_situation}}</p>
                        </div>


                        
                    </div>
                </div>
            </div>

            <div class="row border_tour_sec_8">
                <div class="col-lg-6 col-md-6 col-sm-12 border_007">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                </div>
            </div>
        </div>
    </div>





{% schema %}
  {
    "name": "Visitpage six Section",
    "settings": [
      {
      "id":"visitpage_sec6_Img",
      "type":"image_picker",
      "label":"Image"
      },
      {
      "id":"visitpage_sec6_Img_badge",
      "type":"image_picker",
      "label":"Badge Image"
      },
      {
      "id":"visitpage_sec6_event_heading",
      "type":"textarea",
      "label":"Event Heading"
      },
      {
      "id":"visitpage_sec6_event_month",
      "type":"text",
      "label":"Event Month"
      },
      {
      "id":"visitpage_sec6_event_date",
      "type":"text",
      "label":"Event Date"
      },
      {
      "id":"visitpage_sec6_event_type",
      "type":"text",
      "label":"Event Type"
      },
      {
      "id":"visitpage_sec6_event_annual",
      "type":"text",
      "label":"Event Type Detail"
      },
      {
      "id":"visitpage_sec6_event_decription",
      "type":"textarea",
      "label":"Event Description"
      },
      {
      "id":"visitpage_sec6_event_sold_out",
      "type":"text",
      "label":"Sell Button Text "
      },
      {
      "id":"visitpage_sec6_url_sold_out",
      "type":"url",
      "label":"Sell Button URL"
      },
      {
      "id":"visitpage_sec6_JOIN_LIST",
      "type":"url",
      "label":"Join List URL"
      },
      {
      "id":"visitpage_sec6_event_month1",
      "type":"text",
      "label":"Second Event Month"
      },
      {
      "id":"visitpage_sec6_event_date1",
      "type":"text",
      "label":"Second Event Date"
      },
      {
      "id":"visitpage_sec6_event_type1",
      "type":"text",
      "label":"Second Event Type"
      },
      {
      "id":"visitpage_sec6_event_annual1",
      "type":"text",
      "label":"Second Event Type Detail"
      },
      {
      "id":"visitpage_sec6_event_decription1",
      "type":"textarea",
      "label":"Second Event Description"
      },
      {
      "id":"visitpage_sec6_event_ticket1",
      "type":"text",
      "label":"Ticket Price"
      },
      {
      "id":"visitpage_sec6_url_ticket_url",
      "type":"url",
      "label":"Ticket URL"
      },
      {
      "id":"visitpage_sec6_announcement",
      "type":"text",
      "label":"Announcements Text"
      },
      {
      "id":"visitpage_sec6_announcement_desc",
      "type":"textarea",
      "label":"Announcements Description"
      },
      {
      "id":"visitpage_sec6_pendamic_situation",
      "type":"textarea",
      "label":"pandemic Description Text"
      }
    ]
}
{% endschema %}
