{% comment %}
<article class="pt-6">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <div>{{ page.content }}</div>
  </div>
</article>
{% endcomment %}


<style>
  
  /* section 1 css */
.blog-link{
	text-decoration:none !important;  
  }
.Blog_category_pg_section_1 {
    background-color: #fcf9ef;
    padding: 80px 45px 0px;
}
.img_blog_category_img_1 img {
    width: 100%;
    position: relative;
/*     right: -15%; */
    height: 466px;
}
.text_desc_blog_category_1 h1.If-You-Like-Wine-and_blog_category {
    font-family: 'Butler';
    font-size: 48px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #171f15;
    margin-bottom: 0;
    width: 90%;
  }
  .text_desc_blog_category_1 p.by-Lindsey-Zagar_blog_category {
    font-family: Apercu;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2e4433;
    margin-bottom: 18px;
  }

  .left_blog_category_text_1 {
      margin-top: 27%;
  }
  /* section 2 css */
  .blog_category_wine_guide li {
      list-style: none;
  }
  .blog_category_nav_men ul {
      padding: 0;
      margin: 0;
  }

  @media screen and (min-width: 1100px) {
.blog_category_nav ul {
    margin-right: 4%;
}
}
.blog_category_nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}
.blog_category_nav_text_zero li {
    padding: 0 45px;
}
.blog_category_nav li {
    padding: 0 24px;
}
.blog_category_nav_btn_li {
    border-bottom: 2px solid #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
    display: flex;
}
.blog_category_nav_btn_li::before {
    height: 50px;
    width: 90px;
    left: 0;
    margin-left: -1px;
}
.blog_category_nav_btn_li::after {
    width: 90px;
    height: 50px;
    right: -1px;
}
.blog_category_nav_btn_li::before, .blog_category_nav_btn_li::after {
    position: absolute;
    background: #ffffff;
    z-index: -1;
    transition: 0.3s;
    content: '';
    border-radius: 0;
}
.blog_category_nav_text_zero li a {
    font-family: Apercu pro;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 1.71px;
    text-align: center;
    color: #2e4433;
    text-decoration: none;
    padding-bottom: 3px;
    color: rgba(46, 68, 51, 0.6);
    text-transform: uppercase;
}
.blog_category_nav_text_zero li a:hover {
    color: #2e4433;
}
.blog_category_nav_btn_li:hover::after, .blog_category_nav_btn_li:hover::before {
    width: 50px;
    margin-left: -1px;
}

.blog_category_nav {
    width: 80%;
    margin: 0 auto;
}
.btn1_blog_category:hover::after, .btn1_blog_category:hover::before {
    width: 28px;
    margin-left: -1px;
}

.blog_category_section_2 {
    padding: 56px 45px;
}

/* section 3 css */
.blog_category_section_3 {
    padding: 13px 45px;
}
.column_blog_category_even_row_left {
    width: 73%;
    margin: 0 auto;
    margin-bottom: 32px;
}
.column_blog_category_even_row_left_img {
    margin-bottom: 16px;
}


.column_blog_category_even_row_left_text h1 {
    font-family: 'Butler';
    font-size: 28px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #2e4433;
    margin-bottom: 8px;
}
.column_blog_category_even_row_left_text p {
    font-family: Apercu;
    font-size: 12.9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #3e3e3e;
    margin-bottom: 20px;
  }
  .column_blog_category_even_row_left_img img {
    width: 100%;
    height: 633px;
}
  .og_category_even_row_right {
    margin-top: 39%;
  }
  .column_blog_category_even_row_right_img img {
      height: 257px;
  }

  /* signs css */
  .next_signs_blog_category {
    padding-top: 70px;
    padding-bottom: 140px;
}
.pagination_blog_category li {
    list-style: none;
}
.num_one_to_blog_category li a {
    font-family: Apercu;
    font-size: 16px;
    line-height: 1.5;
    color: #2e4433;
    padding: 0 7px;
}
.num_one_to_blog_category a:hover {
    text-decoration: none;
    opacity: 0.6;
}

@media screen and (max-width:1150px) {
    .img_blog_category_img_1 img {
        height: 410px;
    }
    .text_desc_blog_category_1 h1.If-You-Like-Wine-and_blog_category {
        font-size: 45px;
    }
    .text_desc_blog_category_1 p.by-Lindsey-Zagar_blog_category {
        font-size: 15px;
        margin-bottom: 16px;
    }
    .left_blog_category_text_1 {
        margin-top: 28%;
    }
    /* nav css */
    .blog_category_nav {
        width: 88%;
    }
    .blog_category_nav li {
        padding: 0 20px;
    }
    .blog_category_nav_btn_li:hover::after, .blog_category_nav_btn_li:hover::before {
        width: 43px;
    }
    .btn1_blog_category:hover::after, .btn1_blog_category:hover::before {
        width: 25px;
    }
    /* end */
    .column_blog_category_even_row_left_img img {
        height: 530px;
    }
    .column_blog_category_even_row_left_text h1 {
        font-size: 23px;
    }
    .column_blog_category_even_row_left_text p {
        font-size: 11px;
    }    
    .column_blog_category_even_row_right_img img {
        height: 210px;
    }
}
@media screen and (max-width:1050px) {
    .blog_category_nav_text_zero li a {
        font-size: 10.5px;
    }
    .next_signs_blog_category {
        padding-top: 60px;
        padding-bottom: 120px;
    }
}
@media screen and (max-width:991px) {
    .Blog_category_pg_section_1,.blog_category_section_2,.blog_category_section_3 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .text_desc_blog_category_1 h1.If-You-Like-Wine-and_blog_category {
        font-size: 35px;
    }
    .text_desc_blog_category_1 p.by-Lindsey-Zagar_blog_category {
        font-size: 12px;
        margin-bottom: 14px;
    }
    .left_blog_category_text_1 {
        margin-top: 33%;
    }
    .img_blog_category_img_1 img {
        height: 350px;
    }
    /* nav css */
    .blog_category_section_2 {
        padding: 40px 30px;
    }
    .blog_category_nav {
        width: 100%;
    }
    .blog_category_nav li {
        padding: 0 17px;
    }
    .blog_category_nav_text_zero li a {
        font-size: 9.5px;
    }
    .btn1_blog_category:hover::after, .btn1_blog_category:hover::before {
        width: 21px;
    }
    /* end */
    .column_blog_category_even_row_left {
        width: 80%;
    }
    .column_blog_category_even_row_left_img img {
        height: 385px;
    }
    .column_blog_category_even_row_right_img img {
        height: 200px;
    }
    .og_category_even_row_right {
        margin-top: 25%;
    }
    .column_blog_category_even_row_left_text h1 {
        font-size: 18px;
    }
}
@media screen and (max-width: 800px) {
.img_blog_category_img_1 img {
    right: -14%;
}
/* nav css */
.blog_category_nav li {
    padding: 0 16px;
}
.blog_category_section_2 {
    padding: 40px 30px 35px;
}
/* end */
.next_signs_blog_category {
    padding-top: 40px;
    padding-bottom: 100px;
}
}

@media screen and (max-width: 767px) {
.left_blog_category_text_1 {
    margin-top: 8%;
}
.img_blog_category_img_1 img {
    position: unset;
}
.img_blog_category_img_1 {
    width: 75%;
    margin: auto;
    margin-top: 6%;
}
/* nav css */
.blog_category_nav ul {
    display: grid;
    justify-content: center;
}
.blog_category_nav li {
    padding: 15px 10px 0;
}
.blog_category_nav_btn_li:hover::after, .blog_category_nav_btn_li:hover::before {
    width: 37px;
}
.btn1_blog_category:hover::after, .btn1_blog_category:hover::before {
    width: 59px;
}
.blog_category_section_2 {
    padding: 15px 15px 30px;
}
/* end */
.column_blog_category_even_row_left_text h1 {
    font-size: 21px;
}
.column_blog_category_even_row_left {
    width: 60%;
    margin: 5% auto;
}
.Blog_category_pg_section_1, .blog_category_section_2, .blog_category_section_3 {
    padding-left: 15px;
    padding-right: 15px;
}
.blog_category_section_2 {
    padding-bottom: 0;
}
.blog_category_nav_text_zero li a {
    font-size: 10.5px;
}
.text_desc_blog_category_1 h1.If-You-Like-Wine-and_blog_category {
    font-size: 45px;
}
}

@media screen and (max-width: 510px) {
.text_desc_blog_category_1 h1.If-You-Like-Wine-and_blog_category {
    width: 100%;
}
.img_blog_category_img_1 img {
    position: unset;
    height: 300px;
}
.column_blog_category_even_row_left {
    width: 65%;
}
.text_desc_blog_category_1 h1.If-You-Like-Wine-and_blog_category {
    font-size: 43px;
}
}
@media screen and (max-width: 450px) {
    .text_desc_blog_category_1 h1.If-You-Like-Wine-and_blog_category {
        font-size: 36px;
    }
.column_blog_category_even_row_left {
    width: 70%;
}
.column_blog_category_even_row_left_text h1 {
    font-size: 18px;
}
}
@media screen and (max-width: 400px) {
.column_blog_category_even_row_left {
    width: 85%;
}
.img_blog_category_img_1 {
    width: 85%;
    margin-top: 8%;
}
.img_blog_category_img_1 img {
    height: 250px;
}
.text_desc_blog_category_1 h1.If-You-Like-Wine-and_blog_category {
    font-size: 32px;
}
}
@media screen and (max-width: 350px) {
.column_blog_category_even_row_left {
    width: 100%;
}
.next_signs_blog_category {
    padding-top: 35px;
    padding-bottom: 80px;
}
.img_blog_category_img_1 img {
    height: 210px;
}
}
  
  
/*  blog post  css */

  
  
               .img_6_blog_post_77 img {
                 height: 480px;
               }



               .text_you_like_blog_post_kitzhaber h1 {
                 font-family: 'Butler';
                 font-size: 39px;
                 font-weight: 300;
                 font-stretch: normal;
                 font-style: normal;
                 line-height: 1.4;
                 letter-spacing: normal;
                 color: #171f15;
                 margin-bottom: 40px;
               }

               .text_you_like_blog_post_kitzhaber  p {
                 font-family: Apercu ;
                 font-size: 16.1px;
                 font-weight: normal;
                 font-stretch: normal;
                 font-style: normal;
                 line-height: 1.5;
                 letter-spacing: normal;
                 color: #171f15;
               }
               .text_you_like_blog_post_kitzhaber {
                 width: 60%;
                 margin: 0 auto;
                 margin-bottom: 70px;
               }

               .text_you_like_blog_post_kitzhaber h3.The-Del-Rio-Vineyard_blog_post {
                 font-family: 'Butler';
                 font-size: 32px;
                 font-weight: 300;
                 font-stretch: normal;
                 font-style: normal;
                 line-height: 1.25;
                 letter-spacing: normal;
                 color: #171f15;
                 margin: 60px 0 30px;
               }

               .text_you_like_blog_post_kitzhaber h2.Beautiful_Views_blog_post_33 {
                 font-family: 'Butler';
                 font-size: 32px;
                 font-weight: 300;
                 font-stretch: normal;
                 font-style: normal;
                 line-height: 1.25;
                 letter-spacing: normal;
                 color: #171f15;
                 margin: 70px 0 30px;
               }
               .text_you_like_blog_post_kitzhaber_78 {
                 margin-bottom: 70px !important;
               }
               .text_you_like_blog_post_kitzhaber p:last-child {
                 margin-bottom: 0px;
               }

               @media screen and (max-width:1200px) {
                 .img_blog_post_1 img {
                   height: 450px;
                 }

                 .text_you_like_blog_post_kitzhaber h3.The-Del-Rio-Vineyard_blog_post {
                   font-size: 26px;
                 }
                 .text_you_like_blog_post_kitzhaber h1 {
                   font-size: 32px;
                 }
                 .text_you_like_blog_post_kitzhaber p {
                   font-size: 14.1px;
                 }
               }

               @media screen and (max-width: 991px) {               
                 .img_6_blog_post_77 img {
                   height: 350px;
                 }
                 .text_you_like_blog_post_kitzhaber {
                   width: 80%;
                   margin-bottom: 60px;
                 }
                 .text_you_like_blog_post_kitzhaber p {
                   font-size: 13.1px;
                 }
               }

               @media screen and (max-width: 991px) {    
                 .text_you_like_blog_post_kitzhaber h1 {
                   font-size: 31px;
                 }
                 .text_you_like_blog_post_kitzhaber h3.The-Del-Rio-Vineyard_blog_post {
                   margin: 45px 0 25px;
                 }
               }
               @media screen and (max-width:767px) {          
                 .img_6_blog_post_77 img {
                   height: 250px;
                 }
                 .text_you_like_blog_post_kitzhaber {
                   width: 100%;
                   margin-bottom: 50px !important;
                 }
                 .text_you_like_blog_post_kitzhaber h2.Beautiful_Views_blog_post_33 {
                   font-size: 29px;
                   margin: 50px 0 30px;
                 }
               }
               @media screen and (max-width:550px) {
                 .text_you_like_blog_post_kitzhaber h1 {
                   font-size: 28px;
                   margin-bottom: 20px;
                 }
                 .text_you_like_blog_post_kitzhaber h2.Beautiful_Views_blog_post_33 {
                   font-size: 27px;
                   margin: 40px 0 25px;
                 }
               }
               @media screen and (max-width:500px) {
                 .img_6_blog_post_77 img {
                   height: 160px;
                 }
                 .text_you_like_blog_post_kitzhaber h1 {
                   font-size: 25px;
                 }
               }
               @media screen and (max-width:500px) {

                 .text_you_like_blog_post_kitzhaber p {
                   font-size: 13px;
                 }

                 .text_you_like_blog_post_kitzhaber h1 {
                   font-size: 23px;
                 }
               }

               @media screen and (max-width: 350px) {
                 .text_you_like_blog_post_kitzhaber p ,.Oregon-wine-began-wh_blog_post_1960 p{
                   font-size: 12px;
                 }
                 .text_you_like_blog_post_kitzhaber h2.Beautiful_Views_blog_post_33 {
                   font-size: 21px;
                 }

                 .text_you_like_blog_post_kitzhaber h1 {
                   font-size: 21px;
                 }
               }
               
  .blog_post_linK-TO-itself {
      padding-bottom:40px;
  }
               
  h2.Beautiful_Views_blog_post_300 {
    font-family: 'Butler';
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #171f15;
    margin: 10px 0 15px;
}

  
</style>  
{% comment %}
<div class="blog-flexbox">
     {% for article in blogs.news.articles limit:1 %}
        <div class="blog-tem_flexbox">
          <a href="#" class="blog-image w-inline-block">
            <img src="{{ article.image.src | img_url: 'medium' }}" width="350"
            srcset="{{ article.image.src | img_url: 'medium' }} 500w, {{ article.image.src | img_url: 'medium' }} 562w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 73vw, (max-width: 991px) 63vw, 562px">
          </a>
          <div class="blog-textblock">
            <div class="blog-date">{{ article.created_at }}</div>
            <h1 class="blog-header">{{ article.title }}</h1>
            <p class="blog-text">{{ article.excerpt_or_content }}</p>
            <a href="{{ article.url }}" class="blog-link">Read Article &gt;</a></div>
        </div>
      {% endfor %}
</div>
{% endcomment %}

    <div class="Blog_category_pg_section_1" scroll="no" style="overflow: hidden">
        <div class="container">
            <div class="b_category_sec_row">
                <div class="row">
                  {% for article in blogs.news.articles limit:1 %}
					  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="left_blog_category_text_1">
                            <div class="text_desc_blog_category_1">
                                <p class="by-Lindsey-Zagar_blog_category">The Del Rio Vineyard Estate Blog</p>
                              <a href="{{ article.url }}" class="blog-link"><h1 class="If-You-Like-Wine-and_blog_category">{{ article.title }}</h1></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="img_blog_category_img_1">
                            <img src="{{ article.image.src | img_url: 'medium' }}" alt="">
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="blog_category_section_2">
        <div class="container">
       
            <div class="blog_category_nav">
                <ul class="blog_category_nav_text_zero">
                    <div class="blog_category_nav_text_one">
                        <li class="blog_category_nav_btn_li btn1_blog_category"> <a class="noselect" href="/blogs/all">All</a> </li>
                    </div>
                    <div class="blog_category_nav_text_one">
                        <li class="blog_category_nav_btn_li"> <a class="noselect" href="#">From the Winery</a> </li>
                    </div>
                    <div class="blog_category_nav_text_one">
                        <li class="blog_category_nav_btn_li"> <a class="noselect" href="#">Wine Guide</a> </li>
                     </div>
                     <div class="blog_category_nav_text_one">
                        <li class="blog_category_nav_btn_li"> <a class="noselect" href="#">Wine Pairing</a> </li>
                     </div>
                     <div class="blog_category_nav_text_one">
                        <li class="blog_category_nav_btn_li"> <a class="noselect" href="#">Explore Del Rio</a> </li>
                     </div>
                     <div class="blog_category_nav_text_one">
                        <li class="blog_category_nav_btn_li"> <a class="noselect" href="#">Company News---</a> </li>
                     </div>
                </ul>
            </div>

        </div>
    </div>

<!-- section 3  -->





       <div class="blog_category_section_3">
           <div class="container">
         
             
<!--       blog post        -->
          <div class=" blog_post_linK-TO-itself ">
             
               <h2 class="Beautiful_Views_blog_post_300">Blog Posts</h2>  
    <!--       
               <div class="img_6_blog_post_77 text-center">
              <a href="/pages/blog-post"> <img src="{{'blog_post_page_image_6.png' | asset_url }}" alt=""></a>
            </div>
            <div class="text_you_like_blog_post_kitzhaber text_you_like_blog_post_kitzhaber_78 ">
                <h2 class="Beautiful_Views_blog_post_33">If You Like Wine and Beautiful Views, You Should Probably Go to the Rogue Valley</h1>
                <p>Oregon wine began when the state was still a Territory in the late 1840’s; however, winemaking has only been a significant industry in the state since the 1960s. Grapes were first planted in the Oregon Territory in 1847. Valley View, the first recorded winery, was established by Peter Britt. in the late 1850s in Jacksonville. Wine production stopped in the United States during Prohibition. As in other states, the Oregon wine industry lay dormant for thirty years after Prohibition was repealed.</p>
                <p>The Oregon wine industry started to rebuild in the 1960s, when California winemakers opened several vineyards in the state.  By 1970, there were five commercial wineries, with 35 recorded acres.</p>
                <p>A lot has changed since the 1840’s.  Today, Oregon is now known as a premiere winegrowing region.   It has more than 769 wineries and 1,144 vineyards growing 82 grape varieties across the state.  The wine made in Oregon, produces only 1.5% of wine sold domestically.  That might seem like a small number, but it does contribute more than $3.3 billion to the Oregon economy and is responsible for more than 17,000 jobs.</p>
            </div> -->
               
               
             
             
             </div> 
         
            <div class="row" id="page_blog_category">
                     {% for article in blogs.news.articles %}
              				{% capture thecycle %}{% cycle '1', '2' %}{% endcapture %}
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                       <div class="column_blog_category_even_row_left">
                           <div class="column_blog_category_even_row_left_img">
                            <a href="{{ article.url }}"> <img src="{{ article.image.src | img_url: 'medium' }}" alt=""></a>                             
                        </div>
                           <div class="column_blog_category_even_row_left_text">
                               <h1>{{ article.title }}</h1>
                               <p>What do professionals know that you don’t?</p>
                           </div>
                       </div>
                   </div>
              
              		 {% if thecycle == '2' %}
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                       <div>
                            <div class="column_blog_category_even_row_left og_category_even_row_right">
                                <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                    <a href="{{ article.url }}"> <img src="{{ article.image.src | img_url: 'medium' }}" alt=""></a>                             
                                </div>
                                <div class="column_blog_category_even_row_left_text">
                                    <h1>{{ article.title }}</h1>
                                </div>
                            </div>
                       </div>
                    </div>
					{% endif %}                      
              {% endfor %} 
              
              	{% comment %}
              
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                        <div>
                             <div class="column_blog_category_even_row_left og_category_even_row_right">
                                 <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                    <a href="#"> <img src="{{'blog_pg_category_image_4.png' | asset_url }}" alt=""></a>                             
                                </div>
                                 <div class="column_blog_category_even_row_left_text">
                                     <h1>If You Like Wine and Beautiful Views, Visit Del Rio Vineyards</h1>
                                     <p>Surrounding our tasting room is a comfortable picnic area, perfect for relaxing and enjoying a special vintage while taking in the spectacular view of Southern Oregon’s largest vineyard.</p>
                                 </div>
                             </div>
                        </div>
                     </div>

                     <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                        <div class="column_blog_category_even_row_left">
                            <div class="column_blog_category_even_row_left_img">
                                <a href="#"> <img src="{{'blog_pg_category_image_5.png' | asset_url }}" alt=""></a>                             
                            </div>
                            <div class="column_blog_category_even_row_left_text">
                                <h1>What is the Ideal Temperature to Store and Serve Wine</h1>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                        <div class="column_blog_category_even_row_left">
                            <div class="column_blog_category_even_row_left_img">
                                <a href="#"> <img src="{{'blog_pg_category_image_10.png' | asset_url }}" alt=""></a>                             
                            </div>
                            <div class="column_blog_category_even_row_left_text">
                                <h1>Wonderful Gourmet Food and Exquisite Wines in the Romantic Setting of the Del Rio Vineyard.</h1>
                            </div>
                        </div>
                    </div>
 

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                        <div>
                             <div class="column_blog_category_even_row_left og_category_even_row_right">
                                 <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                    <a href="#"> <img src="{{'blog_pg_category_image_7.png' | asset_url }}" alt=""></a>                             
                                </div>
                                 <div class="column_blog_category_even_row_left_text">
                                     <h1>If You Like Wine and Beautiful Views, Go to the Rogue Valley</h1>
                                 </div>
                             </div>
                        </div>
                     </div>

                     <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                        <div>
                             <div class="column_blog_category_even_row_left og_category_even_row_right">
                                 <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                    <a href="#"> <img src="{{'blog_pg_category_image_8.png' | asset_url }}" alt=""></a>                             
                                </div>
                                 <div class="column_blog_category_even_row_left_text">
                                     <h1>Meet our International Winemaking Team</h1>
                                     <p>Our talented Vineyard Crew works meticulously to bring the best fruit from our vines.</p>
                                 </div>
                             </div>
                        </div>
                     </div>

                     <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                        <div class="column_blog_category_even_row_left">
                            <div class="column_blog_category_even_row_left_img">
                                <a href="#"> <img src="{{'blog_pg_category_image_9.png' | asset_url }}" alt=""></a>                             
                            </div>
                            <div class="column_blog_category_even_row_left_text">
                                <h1>Exploring Oregon - Adventure #4: Oregon Coast</h1>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                        <div class="column_blog_category_even_row_left">
                            <div class="column_blog_category_even_row_left_img">
                                <a href="https://del-rio-vineyards.myshopify.com/blogs/news/test"> <img src="{{'blog_pg_category_image_6.png' | asset_url }}" alt=""></a>                             
                            </div>
                            <div class="column_blog_category_even_row_left_text">
                                <h1>15 Celebratory Cocktail and  Drink Recipes to Enjoy this Summer</h1>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                        <div>
                             <div class="column_blog_category_even_row_left og_category_even_row_right">
                                 <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                    <a href="#"> <img src="{{'blog_pg_category_image_11.png' | asset_url }}" alt=""></a>                             
                                </div>
                                 <div class="column_blog_category_even_row_left_text">
                                     <h1>Top 10 Tips for Easy Food and Wine Pairings for Your Next Party</h1>
                                 </div>
                             </div>
                        </div>
                     </div>
                     <!-- page 2 -->

                     <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                        <div class="column_blog_category_even_row_left">
                            <div class="column_blog_category_even_row_left_img">
                                <a href="#"> <img src="{{'blog_pg_category_image_2.png' | asset_url }}" alt=""></a>                             
                            </div>
                            <div class="column_blog_category_even_row_left_text">
                                <h1>How to Taste, Enjoy, and Evaluate Wine Like a Professional</h1>
                                <p>What do professionals know that you don’t?</p>
                            </div>
                        </div>
                    </div>
 
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                        <div>
                             <div class="column_blog_category_even_row_left og_category_even_row_right">
                                 <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                    <a href="#"> <img src="{{'blog_pg_category_image_3.png' | asset_url }}" alt=""></a>                             
                                 </div>
                                 <div class="column_blog_category_even_row_left_text">
                                     <h1>Why Attend a Wine Tasting If You Already Know What You Like</h1>
                                 </div>
                             </div>
                        </div>
                     </div>
                     
                     <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                         <div>
                              <div class="column_blog_category_even_row_left og_category_even_row_right">
                                  <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                    <a href="#"> <img src="{{'blog_pg_category_image_4.png' | asset_url }}" alt=""></a>                             
                                  </div>
                                  <div class="column_blog_category_even_row_left_text">
                                      <h1>If You Like Wine and Beautiful Views, Visit Del Rio Vineyards</h1>
                                      <p>Surrounding our tasting room is a comfortable picnic area, perfect for relaxing and enjoying a special vintage while taking in the spectacular view of Southern Oregon’s largest vineyard.</p>
                                  </div>
                              </div>
                         </div>
                      </div>
 
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                         <div class="column_blog_category_even_row_left">
                             <div class="column_blog_category_even_row_left_img">
                                <a href="#"> <img src="{{'blog_pg_category_image_5.png' | asset_url }}" alt=""></a>                             
                            </div>
                             <div class="column_blog_category_even_row_left_text">
                                 <h1>What is the Ideal Temperature to Store and Serve Wine</h1>
                             </div>
                         </div>
                     </div>
 
                     <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                         <div class="column_blog_category_even_row_left">
                             <div class="column_blog_category_even_row_left_img">
                                <a href="#"> <img src="{{'blog_pg_category_image_6.png' | asset_url }}" alt=""></a>                             
                            </div>
                             <div class="column_blog_category_even_row_left_text">
                                 <h1>15 Celebratory Cocktail and  Drink Recipes to Enjoy this Summer</h1>
                             </div>
                         </div>
                     </div>
 
                     <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                         <div>
                              <div class="column_blog_category_even_row_left og_category_even_row_right">
                                  <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                    <a href="#"> <img src="{{'blog_pg_category_image_7.png' | asset_url }}" alt=""></a>                             
                                  </div>
                                  <div class="column_blog_category_even_row_left_text">
                                      <h1>If You Like Wine and Beautiful Views, Go to the Rogue Valley</h1>
                                  </div>
                              </div>
                         </div>
                      </div>
 
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                         <div>
                              <div class="column_blog_category_even_row_left og_category_even_row_right">
                                  <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                    <a href="#"> <img src="{{'blog_pg_category_image_8.png' | asset_url }}" alt=""></a>                             
                                  </div>
                                  <div class="column_blog_category_even_row_left_text">
                                      <h1>Meet our International Winemaking Team</h1>
                                      <p>Our talented Vineyard Crew works meticulously to bring the best fruit from our vines.</p>
                                  </div>
                              </div>
                         </div>
                      </div>
 
                      <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                         <div class="column_blog_category_even_row_left">
                             <div class="column_blog_category_even_row_left_img">
                                <a href="#"> <img src="{{'blog_pg_category_image_9.png' | asset_url }}" alt=""></a>                             
                            </div>
                             <div class="column_blog_category_even_row_left_text">
                                 <h1>Exploring Oregon - Adventure #4: Oregon Coast</h1>
                             </div>
                         </div>
                     </div>
 
                     <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                         <div class="column_blog_category_even_row_left">
                             <div class="column_blog_category_even_row_left_img">
                                <a href="#"> <img src="{{'blog_pg_category_image_10.png' | asset_url }}" alt=""></a>                             
                            </div>
                             <div class="column_blog_category_even_row_left_text">
                                 <h1>Wonderful Gourmet Food and Exquisite Wines in the Romantic Setting of the Del Rio Vineyard.</h1>
                             </div>
                         </div>
                     </div>
  
                     <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                         <div>
                              <div class="column_blog_category_even_row_left og_category_even_row_right">
                                  <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                    <a href="#"> <img src="{{'blog_pg_category_image_11.png' | asset_url }}" alt=""></a>                             
                                  </div>
                                  <div class="column_blog_category_even_row_left_text">
                                      <h1>Top 10 Tips for Easy Food and Wine Pairings for Your Next Party</h1>
                                  </div>
                              </div>
                         </div>
                      </div>
                        <!-- page 3 -->

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div class="column_blog_category_even_row_left">
                                <div class="column_blog_category_even_row_left_img">
                                    <a href="#"> <img src="{{'blog_pg_category_image_2.png' | asset_url }}" alt=""></a>                             
                                </div>
                                <div class="column_blog_category_even_row_left_text">
                                    <h1>How to Taste, Enjoy, and Evaluate Wine Like a Professional</h1>
                                    <p>What do professionals know that you don’t?</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div>
                                <div class="column_blog_category_even_row_left og_category_even_row_right">
                                    <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                        <a href="#"> <img src="{{'blog_pg_category_image_3.png' | asset_url }}" alt=""></a>                             
                                    </div>
                                    <div class="column_blog_category_even_row_left_text">
                                        <h1>Why Attend a Wine Tasting If You Already Know What You Like</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div>
                                <div class="column_blog_category_even_row_left og_category_even_row_right">
                                    <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                        <a href="#"> <img src="{{'blog_pg_category_image_4.png' | asset_url }}" alt=""></a>                             
                                    </div>
                                    <div class="column_blog_category_even_row_left_text">
                                        <h1>If You Like Wine and Beautiful Views, Visit Del Rio Vineyards</h1>
                                        <p>Surrounding our tasting room is a comfortable picnic area, perfect for relaxing and enjoying a special vintage while taking in the spectacular view of Southern Oregon’s largest vineyard.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div class="column_blog_category_even_row_left">
                                <div class="column_blog_category_even_row_left_img">
                                    <a href="#"> <img src="{{'blog_pg_category_image_5.png' | asset_url }}" alt=""></a>                             
                                </div>
                                <div class="column_blog_category_even_row_left_text">
                                    <h1>What is the Ideal Temperature to Store and Serve Wine</h1>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div class="column_blog_category_even_row_left">
                                <div class="column_blog_category_even_row_left_img">
                                    <a href="#"> <img src="{{'blog_pg_category_image_6.png' | asset_url }}" alt=""></a>                             
                                </div>
                                <div class="column_blog_category_even_row_left_text">
                                    <h1>15 Celebratory Cocktail and  Drink Recipes to Enjoy this Summer</h1>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div>
                                <div class="column_blog_category_even_row_left og_category_even_row_right">
                                    <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                        <a href="#"> <img src="{{"blog_pg_category_image_11.png' | asset_url }}" alt=""></a>                             
                                    </div>
                                    <div class="column_blog_category_even_row_left_text">
                                        <h1>Top 10 Tips for Easy Food and Wine Pairings for Your Next Party</h1>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div>
                                <div class="column_blog_category_even_row_left og_category_even_row_right">
                                    <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                        <a href="#"> <img src="{{'blog_pg_category_image_8.png' | asset_url }}" alt=""></a>                             
                                    </div>
                                    <div class="column_blog_category_even_row_left_text">
                                        <h1>Meet our International Winemaking Team</h1>
                                        <p>Our talented Vineyard Crew works meticulously to bring the best fruit from our vines.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div class="column_blog_category_even_row_left">
                                <div class="column_blog_category_even_row_left_img">
                                    <a href="#"> <img src="{{'blog_pg_category_image_10.png' | asset_url }}" alt=""></a>                             
                                </div>
                                <div class="column_blog_category_even_row_left_text">
                                    <h1>Wonderful Gourmet Food and Exquisite Wines in the Romantic Setting of the Del Rio Vineyard.</h1>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div class="column_blog_category_even_row_left">
                                <div class="column_blog_category_even_row_left_img">
                                    <a href="#"> <img src="{{'blog_pg_category_image_9.png' | asset_url }}" alt=""></a>                             
                                </div>
                                <div class="column_blog_category_even_row_left_text">
                                    <h1>Exploring Oregon - Adventure #4: Oregon Coast</h1>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div>
                                <div class="column_blog_category_even_row_left og_category_even_row_right">
                                    <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                        <a href="#"> <img src="{{"blog_pg_category_image_7.png' | asset_url }}" alt=""></a>                             
                                    </div>
                                    <div class="column_blog_category_even_row_left_text">
                                        <h1>If You Like Wine and Beautiful Views, Go to the Rogue Valley</h1>
                                    </div>
                                </div>
                            </div>
                        </div>

              <!-- page 4 -->
              
                       <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div class="column_blog_category_even_row_left">
                                <div class="column_blog_category_even_row_left_img">
                                  <a href="#"><img src="{{'blog_pg_category_image_2.png' | asset_url }}" alt=""></a>  
                                </div>
                                <div class="column_blog_category_even_row_left_text">
                                    <h1>How to Taste, Enjoy, and Evaluate Wine Like a Professional</h1>
                                    <p>What do professionals know that you don’t?</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div>
                                <div class="column_blog_category_even_row_left og_category_even_row_right">
                                    <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                        <a href="#"><img src="{{'blog_pg_category_image_3.png' | asset_url }}" alt=""></a>  
                                    </div>
                                    <div class="column_blog_category_even_row_left_text">
                                        <h1>Why Attend a Wine Tasting If You Already Know What You Like</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div>
                                <div class="column_blog_category_even_row_left og_category_even_row_right">
                                    <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                        <a href="#"><img src="{{'blog_pg_category_image_4.png' | asset_url }}" alt=""></a>  
                                    </div>
                                    <div class="column_blog_category_even_row_left_text">
                                        <h1>If You Like Wine and Beautiful Views, Visit Del Rio Vineyards</h1>
                                        <p>Surrounding our tasting room is a comfortable picnic area, perfect for relaxing and enjoying a special vintage while taking in the spectacular view of Southern Oregon’s largest vineyard.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div class="column_blog_category_even_row_left">
                                <div class="column_blog_category_even_row_left_img">
                                    <a href="#"><img src="{{'blog_pg_category_image_5.png' | asset_url }}" alt=""></a>  
                                </div>
                                <div class="column_blog_category_even_row_left_text">
                                    <h1>What is the Ideal Temperature to Store and Serve Wine</h1>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div class="column_blog_category_even_row_left">
                                <div class="column_blog_category_even_row_left_img">
                                    <a href="#"><img src="{{'blog_pg_category_image_10.png' | asset_url }}" alt=""></a>  
                                </div>
                                <div class="column_blog_category_even_row_left_text">
                                    <h1>Wonderful Gourmet Food and Exquisite Wines in the Romantic Setting of the Del Rio Vineyard.</h1>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div>
                                <div class="column_blog_category_even_row_left og_category_even_row_right">
                                    <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                        <a href="#"><img src="{{'blog_pg_category_image_11.png' | asset_url }}" alt=""></a>  
                                    </div>
                                    <div class="column_blog_category_even_row_left_text">
                                        <h1>Top 10 Tips for Easy Food and Wine Pairings for Your Next Party</h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div>
                                <div class="column_blog_category_even_row_left og_category_even_row_right">
                                    <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                        <a href="#"><img src="{{'blog_pg_category_image_8.png' | asset_url }}" alt=""></a>  
                                    </div>
                                    <div class="column_blog_category_even_row_left_text">
                                        <h1>Meet our International Winemaking Team</h1>
                                        <p>Our talented Vineyard Crew works meticulously to bring the best fruit from our vines.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div class="column_blog_category_even_row_left">
                                <div class="column_blog_category_even_row_left_img">
                                    <a href="#"><img src="{{'blog_pg_category_image_9.png' | asset_url }}" alt=""></a>  
                                </div>
                                <div class="column_blog_category_even_row_left_text">
                                    <h1>Exploring Oregon - Adventure #4: Oregon Coast</h1>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div class="column_blog_category_even_row_left">
                                <div class="column_blog_category_even_row_left_img">
                                    <a href="#"><img src="{{'blog_pg_category_image_6.png' | asset_url }}" alt=""></a>  
                                </div>
                                <div class="column_blog_category_even_row_left_text">
                                    <h1>15 Celebratory Cocktail and  Drink Recipes to Enjoy this Summer</h1>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div>
                                <div class="column_blog_category_even_row_left og_category_even_row_right">
                                    <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                        <a href="#"><img src="{{'blog_pg_category_image_7.png' | asset_url }}" alt=""></a>  
                                    </div>
                                    <div class="column_blog_category_even_row_left_text">
                                        <h1>If You Like Wine and Beautiful Views, Go to the Rogue Valley</h1>
                                    </div>
                                </div>
                            </div>
                        </div>





                        <!-- page 5 -->



                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div class="column_blog_category_even_row_left">
                                <div class="column_blog_category_even_row_left_img">
                                    <a href="#"><img src="{{'blog_pg_category_image_10.png' | asset_url }}" alt=""></a>  
                                </div>
                                <div class="column_blog_category_even_row_left_text">
                                    <h1>Wonderful Gourmet Food and Exquisite Wines in the Romantic Setting of the Del Rio Vineyard.</h1>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div>
                                <div class="column_blog_category_even_row_left og_category_even_row_right">
                                    <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                        <a href="#"><img src="{{'blog_pg_category_image_11.png' | asset_url }}" alt=""></a>  
                                    </div>
                                    <div class="column_blog_category_even_row_left_text">
                                        <h1>Top 10 Tips for Easy Food and Wine Pairings for Your Next Party</h1>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div class="column_blog_category_even_row_left">
                                <div class="column_blog_category_even_row_left_img">
                                    <a href="#"><img src="{{'blog_pg_category_image_2.png' | asset_url }}" alt=""></a>  
                                </div>
                                <div class="column_blog_category_even_row_left_text">
                                    <h1>How to Taste, Enjoy, and Evaluate Wine Like a Professional</h1>
                                    <p>What do professionals know that you don’t?</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div>
                                <div class="column_blog_category_even_row_left og_category_even_row_right">
                                    <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                        <a href="#"><img src="{{'blog_pg_category_image_3.png' | asset_url }}" alt=""></a>  
                                    </div>
                                    <div class="column_blog_category_even_row_left_text">
                                        <h1>Why Attend a Wine Tasting If You Already Know What You Like</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div>
                                <div class="column_blog_category_even_row_left og_category_even_row_right">
                                    <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                        <a href="#"><img src="{{'blog_pg_category_image_4.png' | asset_url }}" alt=""></a>  
                                    </div>
                                    <div class="column_blog_category_even_row_left_text">
                                        <h1>If You Like Wine and Beautiful Views, Visit Del Rio Vineyards</h1>
                                        <p>Surrounding our tasting room is a comfortable picnic area, perfect for relaxing and enjoying a special vintage while taking in the spectacular view of Southern Oregon’s largest vineyard.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div class="column_blog_category_even_row_left">
                                <div class="column_blog_category_even_row_left_img">
                                    <a href="#"><img src="{{'blog_pg_category_image_5.png' | asset_url }}" alt=""></a>  
                                </div>
                                <div class="column_blog_category_even_row_left_text">
                                    <h1>What is the Ideal Temperature to Store and Serve Wine</h1>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div class="column_blog_category_even_row_left">
                                <div class="column_blog_category_even_row_left_img">
                                    <a href="#"><img src="{{'blog_pg_category_image_6.png' | asset_url }}" alt=""></a>  
                                </div>
                                <div class="column_blog_category_even_row_left_text">
                                    <h1>15 Celebratory Cocktail and  Drink Recipes to Enjoy this Summer</h1>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div>
                                <div class="column_blog_category_even_row_left og_category_even_row_right">
                                    <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                        <a href="#"><img src="{{'blog_pg_category_image_7.png' | asset_url }}" alt=""></a>  
                                    </div>
                                    <div class="column_blog_category_even_row_left_text">
                                        <h1>If You Like Wine and Beautiful Views, Go to the Rogue Valley</h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div>
                                <div class="column_blog_category_even_row_left og_category_even_row_right">
                                    <div class="column_blog_category_even_row_left_img column_blog_category_even_row_right_img">
                                        <a href="#"><img src="{{'blog_pg_category_image_8.png' | asset_url }}" alt=""></a>  
                                    </div>
                                    <div class="column_blog_category_even_row_left_text">
                                        <h1>Meet our International Winemaking Team</h1>
                                        <p>Our talented Vineyard Crew works meticulously to bring the best fruit from our vines.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 list-group_pro_del_blog_category">
                            <div class="column_blog_category_even_row_left">
                                <div class="column_blog_category_even_row_left_img">
                                    <a href="#"><img src="{{'blog_pg_category_image_9.png' | asset_url }}" alt=""></a>  
                                </div>
                                <div class="column_blog_category_even_row_left_text">
                                    <h1>Exploring Oregon - Adventure #4: Oregon Coast</h1>
                                </div>
                            </div>
                        </div>

                    </div>
             	
				
             <!-- next numbers -->
                <div class="next_signs_blog_category num_one_to_blog_category d-flex justify-content-center align-items-center pagination_blog_category"> 
                    <li class="d-none" id="previous-pages"><a href="javascript:void(0)" aria-label=Previous><span aria-hidden=true>&laquo;</span></a></li> 
                </div>
            {% endcomment %}
         <!-- end row -->   
         </div>
         
            </div>
       </div>