{% comment %}
<article class="pt-6">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <div>{{ page.content }}</div>
  </div>
</article>
{% endcomment %}

<style>
  
  /* section 1 css */
.text_desc_blog_post_1 p.by-Lindsey-Zagar_blog_p {
    font-family: Apercu Pro;
    font-size: 11px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 2px;
    color: rgba(46, 68, 51, 0.6);
    margin-bottom: 0px;
    text-transform: uppercase;
  }

  .text_desc_blog_post_1 h1.If-You-Like-Wine-and_blog_post {
    font-family: 'Butler';
    font-size: 44px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #171f15;
    margin: 39px 0;
}

.img_blog_post_1 img {
    position: relative;
    left: -77px;
    height: 515px;
}
  .blog_post_page_section_1 {
      padding: 190px 45px 48px;
      background-color: #fcfcf5;
  }
  hr.blog_post_line_greish_1_hr {
      margin: 0px;
      border: 0px;
      border-top: 1px solid #bcc3bd;
  }
  .blog_post_center_justify_content_1 {
    margin-top: 14%;
    margin-left: 13%;
}

/* section 2 css */



.text_you_like_blog_post_kitzhaber h1 {
    font-family: 'Butler';
    font-size: 39px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #171f15;
    margin-bottom: 40px;
  }

  .text_you_like_blog_post_kitzhaber  p {
    font-family: Apercu ;
    font-size: 16.1px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #171f15;
  }
  .blog_post_page_section_2 {
    padding: 55px 45px 40px;
    background-color: #fcfcf5;
  }
  .text_you_like_blog_post_kitzhaber {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 70px;
}
.oh_baby_baby_blog_post img {
    height: 485px;
}
p.facilities_include_blog_post {
    font-family: Apercu;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #3e3e3e;
    margin-top: 8px;
    margin-bottom: 0;
    width: 58%;
}
/* section 3 css */

.blog_post_page_section_3 {
    padding: 40px 45px 80px;
    background-color: #fcfcf5;   
}
.text_you_like_blog_post_kitzhaber h3.The-Del-Rio-Vineyard_blog_post {
    font-family: 'Butler';
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #171f15;
    margin: 60px 0 30px;
  }
  .Oregon-wine-began-wh_blog_post_1960 p {
    font-family: Apercu;
    font-size: 15.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #171f15;
}
.Oregon-wine-began-wh_blog_post_1960 h1 {
    font-family: 'Butler';
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #171f15;
    margin: 60px 0 30px;
}
.Oregon-wine-began-wh_blog_post_1960 {
    width: 52%;
    margin: 70px auto;
}
.img_6_blog_post_77 img {
    height: 480px;
}
.text_you_like_blog_post_kitzhaber h2.Beautiful_Views_blog_post_33 {
        font-family: 'Butler';
        font-size: 32px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #171f15;
        margin: 70px 0 30px;
}
.text_you_like_blog_post_kitzhaber_78 {
    margin-bottom: 70px !important;
}
.Explore_Del_Rio_blog_post p {
    margin-bottom: 0;
    font-family: Apercu Pro;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 2px;
    color: #171f15;
    text-transform: uppercase;
    padding-right: 24px;
}
.Explore_Del_Rio_blog_post {
    display: flex;
    border-top: 1px solid rgba(46, 68, 51, 0.32);
    border-bottom: 1px solid rgba(46, 68, 51, 0.32);
    padding: 24px 0;
    width: 69%;
    margin: 0 auto;
}
.Explore_Del_Rio_blog_post a {
    text-decoration: none;
}
.text_you_like_blog_post_kitzhaber p:last-child {
    margin-bottom: 0px;
}
.Oregon-wine-began-wh_blog_post_1960 p:last-child {
    margin-bottom: 0px;
}

/* section 4 css */
.loathe_them_blog_post_pg_upprt {
    text-transform: uppercase;
    font-family: Apercu Pro;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 1px;
    color: #2e4433;
}
p.The-recipe-is-so-eas_blog_post_8 {
    font-family: Apercu;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #171f15;
  }
  .them_blog_post_pg_upprt_24 {
      margin-bottom: 24px;
  }
  .them_blog_post_pg_upprt_12 {
      margin-bottom: 12px;
      margin-top: 28px;
  } 
  .blog_post_page_section_4 {
      padding: 70px 45px 100px;
  }
  .loathe_them_blog_post_pg_img img {
    height: 538px;
    width: 100%;
  }
  .loathe_them_blog_post_pg {
      padding: 0 15px;
  }
  .padding_0_blog_post_888 {
      padding-left: 0;
  }
  .padding_0_blog_post_889 {
    padding-right: 0;
  }

  .d-none_on_desktop_blog_post {
      display: none;
  }

  @media screen and (max-width:1200px) {
    .img_blog_post_1 img {
        height: 450px;
    }
    .text_desc_blog_post_1 h1.If-You-Like-Wine-and_blog_post {
        font-size: 36px;
    }
    .text_you_like_blog_post_kitzhaber h1 {
        font-size: 32px;
    }
    .text_you_like_blog_post_kitzhaber p {
        font-size: 14.1px;
    }
    .oh_baby_baby_blog_post img {
        height: 385px;
    }
    p.facilities_include_blog_post {
        font-size: 12.3px;
    }
    .text_you_like_blog_post_kitzhaber h3.The-Del-Rio-Vineyard_blog_post {
        font-size: 26px;
    }
    .Oregon-wine-began-wh_blog_post_1960 p {
        font-size: 13px;
    }
    .Oregon-wine-began-wh_blog_post_1960 h1 {
        font-size: 25px;
    }
    .img_6_blog_post_77 img {
        height: 400px;
    }
    .loathe_them_blog_post_pg_img img {
        height: 400px;
    }
  }

@media screen and (max-width: 1030px) {
.text_desc_blog_post_1 h1.If-You-Like-Wine-and_blog_post {
    font-size: 35px;
}
.img_blog_post_1 img {
    height: 420px;
}
}

@media screen and (max-width: 991px) {
.img_blog_post_1 img {
    left: -46%;
    height: 380px;
}
.blog_post_center_justify_content_1 {
    margin-top: 18%;
    margin-left: 8%;
}
.text_desc_blog_post_1 h1.If-You-Like-Wine-and_blog_post {
    font-size: 28px;
}
.text_desc_blog_post_1 p.by-Lindsey-Zagar_blog_p {
    font-size: 9px;
}
.text_you_like_blog_post_kitzhaber {
    width: 80%;
    margin-bottom: 60px;
}
.text_you_like_blog_post_kitzhaber p {
    font-size: 13.1px;
}
.oh_baby_baby_blog_post img {
    height: 300px;
}
p.facilities_include_blog_post {
    font-size: 12.3px;
    width: 80%;
}
.Oregon-wine-began-wh_blog_post_1960 {
    width: 70%;
    margin: 50px auto;
}
.img_6_blog_post_77 img {
    height: 350px;
}
.Explore_Del_Rio_blog_post {
    padding: 20px 0;
    width: 100%;
}
.blog_post_page_section_3 {
    padding: 40px 30px 60px;
}
.blog_post_page_section_1 {
    padding: 150px 30px 48px;
}
.loathe_them_blog_post_pg {
    padding: 0;
}
.them_blog_post_pg_upprt_12 {
    margin-bottom: 10px;
    margin-top: 20px;
}
.loathe_them_blog_post_pg_upprt {
    font-size: 10px;
}
p.The-recipe-is-so-eas_blog_post_8 {
    font-size: 11px;
}
.blog_post_page_section_4 {
    padding: 60px 30px 80px;
}
}
@media screen and (max-width: 800px) {
.img_blog_post_1 img {
    left: -13.9%;
    height: 300px;
}
.blog_post_center_justify_content_1 {
    margin-top: 15%;
    margin-left: 4%;
}
.text_desc_blog_post_1 h1.If-You-Like-Wine-and_blog_post {
    margin: 22px 0;
    font-size: 29px;
}
.text_you_like_blog_post_kitzhaber h1 {
    font-size: 31px;
}
.oh_baby_baby_blog_post img {
    height: 280px;
}
.text_you_like_blog_post_kitzhaber h3.The-Del-Rio-Vineyard_blog_post {
    margin: 45px 0 25px;
}
.loathe_them_blog_post_pg_img img {
    height: 300px;
}

}
@media screen and (max-width:767px) {
    .d-none_on_desktop_blog_post {
        display: block;
    }
    .d-none_on_mobile_blog_post {
        display: none;
    }
    .blog_post_center_justify_content_1 {
        margin-top: 0;
        margin-left: 0;
    }
    .img_blog_post_1 img {
        position: unset;
    }
    .img_blog_post_1 {
        text-align: center;
        margin-top: 50px;
    }
    .blog_post_page_section_1 {
        padding: 150px 15px 48px;
    }
    .text_you_like_blog_post_kitzhaber {
        width: 100%;
        margin-bottom: 50px !important;
    }
    .oh_baby_baby_blog_post {
        text-align: center;
    }
    p.facilities_include_blog_post {
        width: 90%;
        margin: 10px auto;
    }
    .oh_baby_baby_blog_post.text-right {
        text-align: center !important;
        margin-top: 40px;
    }
    .Oregon-wine-began-wh_blog_post_1960 {
        width: 100%;
        margin: 35px auto;
    }
    .img_6_blog_post_77 img {
        height: 250px;
    }
    .text_you_like_blog_post_kitzhaber h2.Beautiful_Views_blog_post_33 {
        font-size: 29px;
        margin: 50px 0 30px;
    }
    .loathe_them_blog_post_pg_img img {
        height: 300px;
        width: auto;
    }
    .loathe_them_blog_post_pg {
        text-align: center;
        margin-bottom: 40px;
    }

    .blog_post_page_section_4 {
        padding: 50px 15px 60px;
    }
    .blog_post_page_section_2 {
        padding: 55px 15px 40px;
    }
    .blog_post_page_section_3 {
        padding: 40px 15px 60px;
    }
}

@media screen and (max-width:550px) {
    p.facilities_include_blog_post {
        width: 85%;
        font-size: 14px;
    }
    .text_you_like_blog_post_kitzhaber h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    .text_you_like_blog_post_kitzhaber h2.Beautiful_Views_blog_post_33 {
        font-size: 27px;
        margin: 40px 0 25px;
    }
    .loathe_them_blog_post_pg_bottom_text {
        width: 60%;
        margin: 0 auto;
    }

}
@media screen and (max-width:500px) {
    .Explore_Del_Rio_blog_post {
        display: inherit;
    }
    .Explore_Del_Rio_blog_post p {
        padding-right: 0;
        padding-bottom: 12px;
        text-align: center;
    }
    .Explore_Del_Rio_blog_post {
        padding: 20px 0 10px;
    }
    .img_6_blog_post_77 img {
        height: 160px;
    }
    .Oregon-wine-began-wh_blog_post_1960 h1 {
        font-size: 22px;
        margin-top: 40px;
    }
    .text_you_like_blog_post_kitzhaber h1 {
        font-size: 25px;
    }
    .text_desc_blog_post_1 h1.If-You-Like-Wine-and_blog_post {
        font-size: 33px;
    }
}

@media screen and (max-width: 400px) {
.text_desc_blog_post_1 h1.If-You-Like-Wine-and_blog_post {
    font-size: 29px;
}
.img_blog_post_1 img {
    height: 200px;
}
.text_you_like_blog_post_kitzhaber p {
    font-size: 13px;
}
.oh_baby_baby_blog_post img {
    height: 200px;
}
.text_you_like_blog_post_kitzhaber h1 {
    font-size: 23px;
}
}

@media screen and (max-width: 350px) {
.loathe_them_blog_post_pg_bottom_text {
    width: 72%;
    margin: 0 auto;
}
.text_you_like_blog_post_kitzhaber p ,.Oregon-wine-began-wh_blog_post_1960 p{
    font-size: 12px;
}
.text_you_like_blog_post_kitzhaber h2.Beautiful_Views_blog_post_33 {
    font-size: 21px;
}
.text_desc_blog_post_1 h1.If-You-Like-Wine-and_blog_post {
    font-size: 24px;
}
.text_you_like_blog_post_kitzhaber h1 {
    font-size: 21px;
}
p.facilities_include_blog_post {
    width: 100%;
    font-size: 13px;
}
.blog_post_page_section_1 {
    padding: 130px 15px 48px;
}

}
  
</style>  




    <div class="blog_post_page_section_1">
        <div class="container">
            <div class="section_1_data_blog_post">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 d-none_on_mobile_blog_post">
                        <div class="img_blog_post_1">
                            <img src="{{'blog_post_page_image_1.png' | asset_url }}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="blog_post_center_justify_content_1">
                            <div class="text_desc_blog_post_1">
                                <p class="by-Lindsey-Zagar_blog_p">From the Winery</p>
                                <h1 class="If-You-Like-Wine-and_blog_post">If You Like Wine and Beautiful Views, You Should Probably Go to the Rogue Valley</h1>
                                <p class="by-Lindsey-Zagar_blog_p">by Lindsey Zagar</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-12 d-none_on_desktop_blog_post">
                        <div class="img_blog_post_1">
                            <img src="{{'blog_post_page_image_1.png' | asset_url }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="blog_post_line_greish_1_hr">

    <div class="blog_post_page_section_2">
        <div class="container">
            <div class="text_you_like_blog_post_kitzhaber">
                <h1>If You Like Wine and Beautiful Views, You Should Probably Go to the Rogue Valley</h1>
                <p>May is Oregon Wine Month, 31 days dedicated to tasting, learning and supporting Oregon wine.</p>
                <p>On January 18, 2012 Oregon’s Governor John Kitzhaber signed a proclamation designating May as Oregon Wine Month, reviving a tradition that had been dormant for more than two decades.  This was a well-deserved recognition of the Oregon wine industry’s rapid growth, international reputation for quality and important contribution to the state’s economy.</p>
                <p>Now in its eighth year, Oregon Wine Month is dedicated to developing more Oregon wine fans across the United States.   May is the perfect month to explore, sip and celebrate Oregon wine.  Early May is when winegrowing season officially kicks off with vines beginning to show bud break. It is a beautiful time of year to visit Oregon wine country and enjoy hundreds of wine events and promotions at tasting rooms, restaurants, and retailers across the state.</p>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="oh_baby_baby_blog_post">
                        <img src="{{'blog_post_page_image_2.png' | asset_url }}" alt="">
                        <p class="facilities_include_blog_post">The facilities include a great outdoor location for a family picnic with a wonderful view of the vineyard.</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="oh_baby_baby_blog_post text-right">
                        <img src="{{'blog_post_page_image_3.png' | asset_url }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blog_post_page_section_3">
        <div class="container">
            <div class="text_you_like_blog_post_kitzhaber">
                <h1>The unique climate and terrain of the Del Rio estate is able to support an extensive collection of wine grape varieties. </h1>
                <p>May is Oregon Wine Month, 31 days dedicated to tasting, learning and supporting Oregon wine.</p>
                <p>On January 18, 2012 Oregon’s Governor John Kitzhaber signed a proclamation designating May as Oregon Wine Month, reviving a tradition that had been dormant for more than two decades.  This was a well-deserved recognition of the Oregon wine industry’s rapid growth, international reputation for quality and important contribution to the state’s economy.</p>
                <p>Now in its eighth year, Oregon Wine Month is dedicated to developing more Oregon wine fans across the United States.   May is the perfect month to explore, sip and celebrate Oregon wine.  Early May is when winegrowing season officially kicks off with vines beginning to show bud break. It is a beautiful time of year to visit Oregon wine country and enjoy hundreds of wine events and promotions at tasting rooms, restaurants, and retailers across the state.</p>
                <h3 class="The-Del-Rio-Vineyard_blog_post">The Del Rio Vineyard Estate Bottles are Reserved for the Highest Quality Estate Fruit.</h3>
                <p>Oregon wine began when the state was still a Territory in the late 1840’s; however, winemaking has only been a significant industry in the state since the 1960s. Grapes were first planted in the Oregon Territory in 1847. Valley View, the first recorded winery, was established by Peter Britt. in the late 1850s in Jacksonville. Wine production stopped in the United States during Prohibition. As in other states, the Oregon wine industry lay dormant for thirty years after Prohibition was repealed.</p>
                <p>The Oregon wine industry started to rebuild in the 1960s, when California winemakers opened several vineyards in the state.  By 1970, there were five commercial wineries, with 35 recorded acres.</p>
                <p>A lot has changed since the 1840’s. Today, Oregon is now known as a premiere winegrowing region.   It has more than 769 wineries and 1,144 vineyards growing 82 grape varieties across the state. The wine made in Oregon, produces only 1.5% of wine sold domestically.  That might seem like a small number, but it does contribute more than $3.3 billion to the Oregon economy and is responsible for more than 17,000 jobs.</p>          
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <div class="oh_baby_baby_blog_post">
                        <img src="{{'blog_post_page_image_4.png' | asset_url }}" alt="">
                        <p class="facilities_include_blog_post">Our rosé pairs wonderfully with food that some red and white wines just can’t compare with.</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="oh_baby_baby_blog_post text-right">
                        <img src="{{'blog_post_page_image_5.png' | asset_url }}" alt="">
                    </div>
                </div>
            </div>
            <div class="Oregon-wine-began-wh_blog_post_1960">
                <p>Oregon wine began when the state was still a Territory in the late 1840’s; however, winemaking has only been a significant industry in the state since the 1960s. Grapes were first planted in the Oregon Territory in 1847. Valley View, the first recorded winery, was established by Peter Britt. in the late 1850s in Jacksonville. Wine production stopped in the United States during Prohibition. As in other states, the Oregon wine industry lay dormant for thirty years after Prohibition was repealed.</p>
                <h1>Del Rio Vineyard Estate, Jolee, and Rock Point are the three labels born out of 500-acres of vines, all with their own story and personality.</h1>
                <p>Oregon wine began when the state was still a Territory in the late 1840’s; however, winemaking has only been a significant industry in the state since the 1960s. Grapes were first planted in the Oregon Territory in 1847. Valley View, the first recorded winery, was established by Peter Britt. in the late 1850s in Jacksonville. Wine production stopped in the United States during Prohibition. As in other states, the Oregon wine industry lay dormant for thirty years after Prohibition was repealed.</p>
                <p>The Oregon wine industry started to rebuild in the 1960s, when California winemakers opened several vineyards in the state.  By 1970, there were five commercial wineries, with 35 recorded acres.</p>               
            </div>
            <div class="img_6_blog_post_77 text-center">
                <img src="{{'blog_post_page_image_6.png' | asset_url }}" alt="">
            </div>
            <div class="text_you_like_blog_post_kitzhaber text_you_like_blog_post_kitzhaber_78 ">
                <h2 class="Beautiful_Views_blog_post_33">If You Like Wine and Beautiful Views, You Should Probably Go to the Rogue Valley</h1>
                <p>Oregon wine began when the state was still a Territory in the late 1840’s; however, winemaking has only been a significant industry in the state since the 1960s. Grapes were first planted in the Oregon Territory in 1847. Valley View, the first recorded winery, was established by Peter Britt. in the late 1850s in Jacksonville. Wine production stopped in the United States during Prohibition. As in other states, the Oregon wine industry lay dormant for thirty years after Prohibition was repealed.</p>
                <p>The Oregon wine industry started to rebuild in the 1960s, when California winemakers opened several vineyards in the state.  By 1970, there were five commercial wineries, with 35 recorded acres.</p>
                <p>A lot has changed since the 1840’s.  Today, Oregon is now known as a premiere winegrowing region.   It has more than 769 wineries and 1,144 vineyards growing 82 grape varieties across the state.  The wine made in Oregon, produces only 1.5% of wine sold domestically.  That might seem like a small number, but it does contribute more than $3.3 billion to the Oregon economy and is responsible for more than 17,000 jobs.</p>
            </div>
            <div class="Explore_Del_Rio_blog_post">
                <a href="#"><p>Explore Del Rio</p></a> 
                <a href="#"><p>Oregon</p></a> 
                <a href="#"><p>Winery</p></a> 
                <a href="#"><p>Vineyard</p></a> 
            </div>
        </div>
    </div>


    <div class="blog_post_page_section_4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="loathe_them_blog_post_pg padding_0_blog_post_888">
                        <p class="loathe_them_blog_post_pg_upprt them_blog_post_pg_upprt_24 text-center">food pairing</p>
                        <div class="loathe_them_blog_post_pg_img">
                            <img src="{{'blog_post_page_image_7.png' | asset_url }}" alt="">
                        </div>
                        <div class="loathe_them_blog_post_pg_bottom_text">
                            <p class="loathe_them_blog_post_pg_upprt them_blog_post_pg_upprt_12">Pear, blue cheese, baby arugula & prosciutto</p>
                            <p class="The-recipe-is-so-eas_blog_post_8">The recipe is so easy and perfect this spring.  It would be a great appetizer to serve this Easter weekend.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="loathe_them_blog_post_pg">
                        <p class="loathe_them_blog_post_pg_upprt them_blog_post_pg_upprt_24 text-center">Wine GUIDE</p>
                        <div class="loathe_them_blog_post_pg_img">
                            <img src="{{'blog_post_page_image_8.png' | asset_url }}" alt="">
                        </div>
                        <div class="loathe_them_blog_post_pg_bottom_text">
                            <p class="loathe_them_blog_post_pg_upprt them_blog_post_pg_upprt_12">If you want more bubbles, keep it chilled!</p>
                            <p class="The-recipe-is-so-eas_blog_post_8">The sacred CO2 that creates the tiny bubbles stays trapped in cold liquids better than warm liquids. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="loathe_them_blog_post_pg padding_0_blog_post_889">
                        <p class="loathe_them_blog_post_pg_upprt them_blog_post_pg_upprt_24 text-center">TASTING NOTES</p>
                        <div class="loathe_them_blog_post_pg_img">
                            <img src="{{'blog_post_page_image_9.png' | asset_url }}" alt="">
                        </div>
                        <div class="loathe_them_blog_post_pg_bottom_text">
                            <p class="loathe_them_blog_post_pg_upprt them_blog_post_pg_upprt_12">Spiced Wood Love them or loathe them</p>
                            <p class="The-recipe-is-so-eas_blog_post_8">So many records went down: total harvested tons, most harvested tons in a day, most cups of coffee drank</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
